/*
vim: set ts=2 sw=2 sts=2 et:
*/

/**
 * CSS stylesheet for admin area diffs section
 *
 * @category   Modules
 * @package    X-Monitoring
 * @subpackage Skin
 * @author     Michael Bugrov
 * @version    ee8fb4ea37d363887326bb281100a27746bc181e, v3 (xcart_4_7_4), 2015-10-12 09:49:37, textdiff.css, mixon
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
*/
h1, h2, h3, h4, pre, div {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 0 none;
    margin: 0;
    padding: 0;
}

pre *, pre.prettyprint, pre.prettyprint *, h1, h2, div.diff-index {
    font-family: monospace;
}

div.diff-help {
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding-bottom: 5px;
}

pre, div.diff-index {
    border: black solid 1px;
    padding: 5px 10px;
    color: #000;
    background-color: #fafafa;
}

div.diff-content {
    padding-top: 2px;
}

/* hunk declaration */
pre span.dec {
    color: #999;
    font-weight: bolder;
}
/* deleted text */
pre span.src {
    background-color: #fdd;
    color: red;
}
/* inserted text */
pre span.str {
    background-color: #dfd;
    color: green;
}
