{*
2a2c795fac2825d6489374a05663c52b6e7990d0, v12 (xcart_4_7_5), 2015-12-22 19:10:30, datepicker.tpl, aim 

vim: set ts=2 sw=2 sts=2 et:
*}

<input id="{$id|default:$name|escape}" class="datepicker-formatted {$additional_class}" name="{$name|escape}" type="text" value="{if $date ne '-1'}{$date|default:$smarty.now|date_format:$config.Appearance.date_format}{/if}" />
<script type="text/javascript">
//<![CDATA[

$(document).ready(function () {ldelim}

$.datepicker.setDefaults($.datepicker.regional["{$shop_language|lower}"]);

// Original input object
var dp_in = $("#{$id|default:$name|escape}");

// Create a hidden field that will contain timestamp
// generated on-the-fly when setting date
var dp_ts = $(document.createElement('input'))
  .attr('type', 'hidden')
  .attr('name', '{$name|escape}')
  .attr('id', '{$id|default:$name|escape}')
  .val('{$date|default:$smarty.now}');

// Change attributes of an original object
$(dp_in)
  .attr('id',   'f_{$id|default:$name|escape}')
  .attr('name', 'f_{$name|escape}');

$(dp_ts).insertAfter(dp_in);
{assign var=_default_end_year value=$config.Company.end_year+2}

var opts = {ldelim}
  yearRange:   '{$start_year|default:$config.Company.start_year}:{$end_year|default:$_default_end_year}',
  dateFormat:  '{$config.Appearance.ui_date_format}',
  altFormat:   'yy-mm-dd',
  altField:    '#{$id|default:$name|escape}',
  changeMonth: {$changeMonth|default:'true'},
  changeYear:  {$changeYear|default:'true'},
  showOn:      'both',
  buttonImage: '{$ImagesDir}/calendar.png',
  buttonImageOnly: true

{rdelim};

$("#f_{$id|default:$name|escape}")
  .datepicker(opts)
  .bind('change', function() {ldelim}
    var re = new RegExp(/000$/);
    $('#{$id|default:$name|escape}').val($('#{$id|default:$name|escape}').val().replace(re, ''));
    {if $dp_onchange neq ''}
      {$dp_onchange}
    {/if}
              
  {rdelim})

{rdelim}) // $(document).ready(function () {ldelim}

//]]>
</script>
