/*
* multilevel menu main.css
*/

.multilevel-menu ul{
z-index:2000;
margin: 0;
padding: 0;
list-style-type: none;
  -webkit-transition: opacity 300ms, visibility 300ms;
  transition: opacity 300ms, visibility 300ms;
}

/*Top level list items*/
.multilevel-menu ul li{
position: relative;
display: inline-block;
margin-left: 1px;
}

.multilevel-menu ul li:hover > ul{
  opacity:1;
  visibility: visible;

}

/*Top level menu link items style*/
.multilevel-menu ul li > a{
display: block;
padding: 5px 10px;
color: #fff;
text-decoration: none;
text-align: center;
}
@media ( min-width: 960px ) {
  .multilevel-menu ul li > a{
    min-width: 162px;
  }
}

* html .multilevel-menu ul li > a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.multilevel-menu ul li > a{
color: white;
}

.multilevel-menu ul ul > a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #ccc;
color: #333;
}

.multilevel-menu ul ul > a:hover{
background: #ccc; /*background of menu items during onmouseover (hover state)*/
color: #333;
}

/*1st sub level menu*/
.multilevel-menu ul li ul{
position: absolute;
left: 0;
visibility: hidden; /*collapse all sub menus to begin with*/
  opacity: 0
}

/*Sub level menu list items (undo style from Top level List Items)*/
.multilevel-menu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.multilevel-menu > ul > li > ul > li ul{
top: 0;
  left:100%;
}

/* Sub level menu links style */
.multilevel-menu ul li ul li > a{
border-radius: 0;
background: #999;
width: 160px; /*width of sub menus*/
padding: 7px 10px;
margin: 0;
border-right-width: 0;
border-top-width: 0;
border-left-width: 0;
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #666;
font-size: 12px;
text-align: left;
}
