/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * CSS stylesheet for admin area
 * 
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage Skin
 * @author     Qualiteam software Ltd <info@x-cart.com>. All rights reserved 
 * @version    810e7ff2601e2d4a72b0db43af61648b7d60905d, v37 (xcart_4_7_5), 2015-12-30 14:10:52, admin.css, mixon
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */

/**
 * General styles
 */
body,
div,
th,
td,
p,
input,
select,
textarea,
tt
{
  font-family: Tahoma, Arial, Helvetica, Sans-serif;
  color: #2c3e49;
  font-size: 12px;
}

input[disabled],
input[disabled=disabled],
select[disabled],
select[disabled=disabled]
{
  color: #aaa;
}

a,
a:link,
a:visited,
a:active
{
  color: #0e55a6;
  text-decoration: underline;
}

a:hover {
  color: #2863c2;
  text-decoration: none;
}

a.underline:link,
a.underline:visited,
a.underline:hover,
a.underline:active
{
  text-decoration: underline;
}

/* Form elements styles */
input[type=text],
input[type=password],
select,
textarea,
.input-style
{
  border: solid 1px #bbb;
  padding: 2px;
  background: #fff;
}

input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus
{
  border: solid 1px #999;
}

h1 {
  font-size: 24px;
  color: #4a4a4a;
}

h2 {
  font-size: 16px;
  color: #4a4a4a;
}

h3 {
  font-size: 14px;
  color: #4a4a4a;
}

hr {
  border: 0 none;
  border-bottom: 1px solid #acb7c7;
  margin: 10px 0;
  padding: 0;
  height: 0;
}

html,
body
{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

form {
  margin: 0;
}

table,
img
{
  border: 0;
}

li {
  list-style-position: inside;
  list-style-type: disc;
}

dl dt {
  font-weight: 700;
}

input[type=radio] {
  margin: 3px;
}

/**
 * Content enviroment styles
 */
table.Container {
  height: 100%;
  min-width: 800px;
  min-height: 750px;
}

td.Container {
  vertical-align: top;
  height: 90%;
}

.central-space {
  padding: 0px 30px 0 30px;
  width: 100%;
}

.central-space.dtools {
  padding-right: 20px;
  width: 70%;
}

.central-space.btools {
  padding-right: 20px;
}

td#location_and_status {
  padding: 15px 30px 0 30px;
  width: 100%;
}

/**
 * Header styles
 */
.HeadLogo {
  padding-left: 27px;
  text-align: left;
  height: 65px;
}

.HeadText {
  color: #5480a2;
  text-align: right;
}

.HeadLine {
  background: transparent url(../images/head_linebg.gif) repeat-x top;
  padding-right: 20px;
}

.HeadThinLine {
  background-color: #ddd;
  height: 1px;
}

/**
 * Footer styles
 */
.BottomRow {
  text-align: center;
  vertical-align: bottom;
}

.BottomBox {
  border-top: #ddd 1px solid;
  background-color: #f5f5f5;
  color: #b1c6d7;
  height: 40px;
  vertical-align: middle;
  padding-left: 12px;
  padding-right: 20px;
}

.Bottom {
  color: #000;
}

a.Bottom,
a.Bottom:link,
a.Bottom:visited,
a.Bottom:hover,
a.Bottom:active
{
  color: #0e55a6;
  text-decoration: underline;
}

a.Bottom:hover {
  text-decoration: none;
}

.BottomPopup {
  width: 100%;
  text-align: right;
  padding-bottom: 10px;
}

.BottomPopup a {
  font-weight: 700;
}

/**
 * Common styles
 */
select.err,
input.err
{
  border: solid 1px #b51a00;
  background-color: #f7f3f3;
}

.SubmitBox {
  padding-top: 10px;
}

.SubmitBox input {
  margin-right: 15px;
}

hr.Line {
  width: 100%;
  height: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

hr.dotted {
  border-bottom: 1px dotted #acb7c7;
}

.SectionBox {
  background-color: #FFF;
  text-align: left;
  font-weight: 400;
}

.Text {
  color: #010101;
}

.TopLabel {
  height: 22px;
  color: #010101;
  font-size: 10px;
}

.Message {
  color: #b51a00;
}

.Line {
  background-color: #c3c3c3;
}

td.ButtonsRow {
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 20px;
  padding-bottom: 2px;
}

td.ButtonsRowRight {
  padding-top: 2px;
  padding-left: 2px;
  padding-left: 20px;
  padding-bottom: 2px;
}

.CustomerMessage {
  color: #b51a00;
  font-weight: 700;
}

.ErrorMessage {
  color: #b51a00;
  font-weight: 700;
}

.Star {
  color: #800;
}

.TableHead {
  background-color: #c5d0e1;
  font-weight: 700;
  text-align: center;
}

.TableSubHead {
  background-color: #EEE;
  font-weight: 400;
}

.TableSubHeadPayment1 {
  background-color: #cde3c3;
  font-weight: 400;
}

.TableSubHeadPayment2 {
  background-color: #dff1e1;
  font-weight: 400;
}

.Spc {
  width: 1px;
  height: 1px;
}


table.EmptyBox tr td {
  padding: 0;
}

.Note {
  color: #297994;
}

.hl {
  background-color: #eee;
}

table.data-table td.data-name {
  vertical-align: top;
  color: #112536;
  padding-right: 5px;
}

table.data-table .data-required,
.data-required
{
  color: #800;
}

table.data-table td.data-required {
  padding-right: 4px;
  text-align: center;
  width: 5px;
}

/**
 * Admin Area sections styles 
 */
.AdminSmallMessage {
  color: #a10000;
}

.AdminTitle {
  color: #535353;
  font-weight: 700;
  font-size: 12px;
}

.TableHeadLevel2 {
  background-color: #CCC;
  color: #010101;
  font-weight: 700;
  height: 20px;
  text-align: center;
}

.TableLine {
  background-color: #F0F0F0;
}

.TableSeparator {
  color: #44789d;
  font-weight: 700;
  font-size: 11px;
}

.InputWidth {
  width: 100%;
  box-sizing: border-box;
}

.StatisticsBar {
  background-color: #FFCE31;
}

.StatisticsBarHL { /*modules/Survey/display_bar.tpl*/
  background-color: #FF8400;
}

td.OptionLabel {
  white-space: nowrap;
  padding-right: 10px;
}

/**
 * Popup styles
 */
.PopupTitle {
  background-color: #d0ddeb;
  height: 15px;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}

.PopupBG {
  background-color: #d0ddeb;
}

/**
 * Vertical menu
 */
.VertMenuBox {
  background-color: #fff;
  padding-top: 3px;
  padding-left: 8px;
  padding-right: 5px;
}

.VertMenuBorder {
  border: #5f94c0 1px solid;
}

.VertMenuTitleBox {
  background-image: url(../images/admin_menu_bg.gif);
  background-color: #477dbe;
  background-repeat: repeat-x;
  background-position: top;
  border-bottom: #215485 1px solid;
  height: 22px;
}

.VertMenuTitle {
  color: #fff;
  background-color: transparent;
  font-weight: 700;
  padding: 0;
}

.VertMenuTitleIcon {
  width: 17px;
  height: 17px;
  margin-left: 5px;
  margin-right: 8px;
}

.VertMenuItems {
  color: #112536;
  font-size: 12px;
  text-decoration: none;
  line-height: 17px;
}

a.VertMenuItems:link {
  color: #112536;
  text-decoration: none;
}

a.VertMenuItems:visited {
  color: #112536;
  text-decoration: none;
}

a.VertMenuItems:hover {
  color: #043FA0;
  text-decoration: underline;
}

a.VertMenuItems:active {
  color: #112536;
  text-decoration: none;
}

/**
 * Dialog box
 */
table.DialogBox {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

td.DialogBox {
  background-color: #fff;
  text-align: left;
  padding: 0 10px 10px 0;
}

div.product-details-geid table.DialogBox td.DialogBox {
  padding: 0;
}

div.product-details-geid td.TableSubHead {
  padding-top: 17px !important;
  vertical-align: top;
}

div.product-details-geid-info {
  background: url(../images/fyi_icon.gif) no-repeat 0 0;
  margin: 18px 0 8px 10px;
  padding: 0 0 0 40px;
  height: 30px;
}

table.geid-checkbox td {
  padding: 3px;
}

td.geid-checkbox {
  background-color: #eee;
}

.DialogBorder {
  height: 100%;
  padding: 0;
}

td.DialogTitle {
  color: #010101;
  font-weight: 700;
  vertical-align: middle;
  height: 19px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  text-align: left;
}

FONT.DialogTitle {
  color: #010101;
  font-weight: 700;
  font-size: 13px;
  vertical-align: bottom;
  height: 33px;
  text-align: left;
}

/**
 * Dialog info box
 */
.dialog-message {
  padding: 15px 0 20px;
  width: 100%;
}

.dialog-message .box {
  position: relative;
  border: 1px solid #000;
  padding: 4px 25px 10px 10px;
  vertical-align: middle;
  text-align: left;
  min-height: 32px;
}

.dialog-message .box table {
  position: relative;
}

.dialog-message a.close-link:link,
.dialog-message a.close-link:visited,
.dialog-message a.close-link:hover,
.dialog-message a.close-link:active
{
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 13px;
  height: 13px;
  text-decoration: none;
}

.dialog-message .close-img {
  width: 13px;
  height: 13px;
  background: transparent url(../images/but_cross.gif) no-repeat left top;
}

.dialog-message .message-I {
  color: #112536;
  border-color: #7a97c1;
  background: #f4f5f7;
}

.dialog-message .dialog-img {
  width: 32px;
  height: 32px;
}

.dialog-message .message-I .dialog-img {
  background: transparent url(../images/icon_info.gif) no-repeat;
}

.dialog-message .message-W {
  color: #3e3104;
  border-color: #e3decd;
  background: #f6f3e9;
}

.dialog-message .message-W .dialog-img {
  background: transparent url(../images/icon_warning.gif) no-repeat;
}

.dialog-message .message-E {
  color: #590a0a;
  border-color: #ffb0a0;
  background: #feece5;
}

.dialog-message .message-E .dialog-img {
  background: transparent url(../images/icon_error.gif) no-repeat;
}

.dialog-message .anchor {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  height: 15px;
  text-align: right;
  vertical-align: middle;
}

.dialog-message .anchor img {
  width: 12px;
  height: 10px;
  vertical-align: middle;
  background: transparent url(../images/goto_arr.gif) no-repeat left top;
}

/**
 * Top message container
 */
#top-message {
  margin: 0 auto;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 450px;
  z-index: 1000;
}

#top-message.inside-iframe {
  position: static;
}

#top-message .box {
  position: relative;
  padding: 5px 31px 8px 12px;
  vertical-align: middle;
  text-align: left;
}

#top-message a.close-link {
  display: block;
  position: absolute;
  top: 6px;
  right: 8px;
  text-decoration: none;
}

#top-message .close-img {
  width: 15px;
  height: 15px;
  background: transparent url(../images/icon_cross_white.png) no-repeat left top;
}

#top-message .message-i {
  color: #1b5d8e;
  background-color: #eeede8;
}

#top-message .message-w {
  color: #94572a;
  background-color: #eedeb4;
}

#top-message .message-e {
  color: #fff;
  background-color: #e65e57;
}

#top-message .anchor {
  padding-top: 10px;
}

#top-message .anchor img {
  width: 12px;
  height: 10px;
  margin-left: 4px;
  vertical-align: middle;
  background: transparent url(../images/goto_arr.gif) no-repeat left top;
}

/**
 * Product details page
 */
span.product-title {
  color: #7997a4;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.ProductTitle {
  color: #793a02;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}

.ProductTitle:link {
  text-decoration: none;
}

.ProductTitle:visited {
  text-decoration: none;
}

.ProductTitle:hover {
  text-decoration: underline;
}

.ProductTitle:active {
  text-decoration: none;
}

.ProductTitleHidden {
  color: #666;
  font-weight: 700;
  font-size: 12px;
}

.ProductDetailsTitle {
  color: #b51a00;
  font-weight: 700;
  font-size: 12px;
}

.ProductDetails {
  color: #010101;
}

.ProductDetailsImage {
  background-color: #eee;
}

.ProductPriceSmall {
  color: #b51a00;
  font-weight: 700;
}

.MarketPrice {
  font-size: 14px;
}

/**
 * Items style
 */
.ItemsList {
  color: #112536;
  font-weight: 700;
}

.ItemsListDisabled {
  color: #909090;
}

a.ItemsList:link {
  text-decoration: none;
}

a.ItemsList:visited {
  text-decoration: none;
}

a.ItemsList:hover {
  text-decoration: none;
}

a.ItemsList:active {
  text-decoration: none;
}

/**
 * Location bar
 */
#location {
  color: #5a5a5a;
  text-decoration: none;
  height: 20px;
}

#location a,
#location a:link,
#location a:visited,
#location a:active
{
  color: #7997a4;
  text-decoration: underline;
}

#location a:hover {
  text-decoration: none;
}

.navigation-path {
  font-size: 16px;
}

.navigation-path span.current {
  font-size: 20px;
}

/**
 * Buttons
 */
.FormButton {
  color: #112536;
  font-weight: 700;
}

table.product-details-table td.FormButton,
table.product-details-table td.ProductDetails
{
  padding-top: 20px !important;
  vertical-align: top !important;
}

table.ButtonTable {
  cursor: pointer;
  vertical-align: middle;
  direction: ltr;
}

table.ButtonTable td {
  padding: 0;
}

td.Button {
  background: url(../images/butbg.gif);
  background-color: #ffb244;
  background-repeat: repeat-x;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
  white-space: nowrap;
}

FONT.Button {
  color: #490101;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}

img.ButtonSide {
  width: 7px;
  height: 21px;
}

.SimpleButton tr td {
  padding: 0;
  white-space: nowrap;
}

a.Button:link,
a.Button:visited,
a.Button:hover,
a.Button:active
{
  color: #082d70;
  text-decoration: underline;
  font-size: 12px;
  line-height: 20px;
}

.GoImage {
  width: 20px;
  vertical-align: middle;
  height: 18px;
  border: 0;
}

/**
 * Small text/link style
 */
.SmallNote {
  color: #3c6992;
  text-decoration: none;
  font-size: 11px;
}

.SmallNote:link {
  text-decoration: none;
}

.SmallNote:visited {
  text-decoration: none;
}

.SmallNote:hover {
  text-decoration: underline;
}

.SmallNote:active {
  text-decoration: none;
}

.SmallText {
  color: #3c6992;
  text-decoration: none;
  font-size: 11px;
}

/**
 * Search sort bar
 */
.SearchSortTitle {
  font-weight: 700;
  padding-right: 20px;
}

.SearchSortLink:link,
.SearchSortLink:visited,
.SearchSortLink:hover,
.SearchSortLink:active
{
  text-decoration: underline;
}

.SearchSortImg {
  width: 9px;
  height: 9px;
  margin-right: 5px;
}

.SearchSortCell {
  padding-right: 20px;
}

/**
 * Expandable section
 */
.ExpandSectionMark {
  width: 12px;
  cursor: pointer;
  vertical-align: middle;
}

/**
 * Subheader styles
 */
table.SubHeaderGrey {
  width: 100%;
  margin-bottom: 10px;
}

.SubHeaderGrey {
  color: #666;
  font-size: 12px;
  font-weight: 700;
  padding: 0;
}

.SubHeaderGreyLine {
  height: 1px;
  background-color: #CCC;
  padding: 0;
}

table.SubHeaderBlack {
  width: 100%;
  margin-bottom: 10px;
}

.SubHeaderBlack {
  color: #010101;
  font-size: 12px;
  font-weight: 700;
  padding: 0;
}

.SubHeaderBlackLine {
  height: 1px;
  background-color: #000;
  padding: 0;
}

table.SubHeaderRed {
  width: 100%;
  margin-bottom: 10px;
}

.SubHeaderRed {
  font-weight: 700;
  padding: 0;
}

.SubHeaderRedLine {
  height: 1px;
  background-color: #acb7c7;
  padding: 0;
}

table.SubHeader {
  width: 100%;
  margin-bottom: 10px;
}

.SubHeader {
  color: #535353;
  font-weight: 700;
  font-size: 12px;
  padding: 0;
}

.SubHeaderLine {
  height: 1px;
  background-color: #c3c3c3;
  padding: 0;
}

/**
 * User profile page
 */
.RegSectionTitle {
  color: #2c3e49;
  font-size: 10px;
  font-weight: 700;
  padding-top: 10px;
}

/**
 * Webmaster mode
 */
div.Lbl {
  display: inline;
  color: green;
  font-weight: 700;
}

.Section {
  display: inline;
  margin: 0;
  padding: 0;
}

/**
 * Group editing of the products functionality
 */
.DataTable {
  border-right: solid 1px #FFF;
}

table.data-table {
  width: 100%;
}
.data-table td {
  border-right: solid 1px #fff;
}
tr.valign-top-row td {
  vertical-align: top;
}

/**
 * User action field stle
 */
.UsersActionDisable {
  color: #C00;
}

.UsersActionEnable {
  color: #0C0;
}

/**
 * Data sheet container
 */
table.DataSheet {
  background-color: #000;
  width: 100%;
}

tr.DataSheet {
  background-color: #CCC;
  color: #010101;
  font-weight: 700;
  height: 20px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

table.DataSheet tr td {
  background-color: #FFF;
  padding: 2px;
}

table.DataSheet tr th {
  padding: 2px;
}

/**
 * Advanced editor
 */
.AELinkBox {
  text-align: right;
  padding-bottom: 3px;
}

/**
 * Images location page styles
 */
.DBOption {
  color: #00C;
}

.FSOption {
  color: #C00;
}

/**
 * HTML catalog
 */
div.HCEdit {
  white-space: nowrap;
  margin: 0;
  margin-top: 10px;
  margin-left: 15px;
}

div.HCKeywords {
  margin: 0;
  padding: 0;
  padding-top: 4px;
}

div.HCErrorMsg {
  color: #de2700;
  height: 16px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  clear: both;
}

div.HCKeyword {
  float: left;
  background-color: #FFF;
  height: 16px;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 3px;
  border: 1px solid #FFF;
}

div.HCKeywordExists {
  float: left;
  background-color: #3c6992;
  height: 16px;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 3px;
  border: 1px solid #FFF;
}

div.HCKeywordRequired {
  float: left;
  background-color: #FFF;
  height: 16px;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 3px;
  border: 1px solid #de2700;
}

div.HCKeyword a:link,
div.HCKeyword a:visited,
div.HCKeyword a:hover,
div.HCKeyword a:active
{
  color: #3c6992;
  text-decoration: underline;
}

div.HCKeywordRequired a:link,
div.HCKeywordRequired a:visited,
div.HCKeywordRequired a:hover,
div.HCKeywordRequired a:active
{
  color: #3c6992;
  text-decoration: underline;
}

div.HCKeywordExists a:link,
div.HCKeywordExists a:visited,
div.HCKeywordExists a:hover,
div.HCKeywordExists a:active
{
  color: #FFF;
  text-decoration: none;
}

input.HCTemplateValid {
  height: 14px;
  border: 2px solid #389500;
  width: 280px;
}

input.HCTemplateInvalid {
  height: 14px;
  border: 2px solid #de2700;
  width: 280px;
}

input.HCApply {
  margin-left: 5px;
  margin-right: 14px;
}

/**
 * 'Need help' box
 */
.NeedHelpLink,
.NeedHelpLink:link,
.NeedHelpLink:visited,
.NeedHelpLink:hover,
.NeedHelpLink:active
{
  text-decoration: none;
  cursor: help;
  border: none;
  border-bottom: 1px dashed #3c6992;
  white-space: nowrap;
  color: #3c6992;
}

div.NeedHelpBox {
  position: absolute;
  border: 1px solid #000;
  background-color: #FFF;
  margin: 0;
  padding: 6px;
  width: 200px;
  white-space: normal;
  font-weight: 400;
  overflow: hidden;
  z-index: 6000;
}

div.NoteBox {
  position: absolute;
  border: 1px solid #000;
  background-color: #FFF;
  margin: 0 0 0 20px;
  padding: 3px;
  width: 200px;
  white-space: normal;
  font-weight: 400;
}

/**
 * General settings page
 */
.general-settings * {
  font-size: 12px;
}

.general-settings tr td {
  vertical-align: center;
  padding: 4px;
}

.general-settings tr td.TableSeparator {
  padding: 30px 0 10px;
}

.general-settings tr.xcart-conf-option:target td{
  background-color: #EEEE92;
}

/**
 * Taxes page
 */
select#tax_operation_scheme {
  width: 90%;
}

/**
 * Main page :: Modules (admin/modules.php page)
 */
.modules-list {
  padding: 0;
}
.modules-list li {
  list-style: none;
  padding: 12px;
  margin-bottom: -1px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f2f2f2;
}
.modules-list.extensions li {
  background-color: #fff;
}
.modules-list li div {
  color: #777;
}
.modules-list li .module-configure {
  display: none;
}
.modules-list li.active {
  background-color: #fff;
}
.modules-list li.active div,
.modules-list li .module-enable,
.modules-list.extensions li div
{
  color: #2c3e49;
}
.modules-list li.active .module-configure {
  display: block;
}
.module-settings,
.module-icon
{
  vertical-align: top;
  float: left;
}
.module-price {
  text-align: center;
  font-size: 14px;
  margin-top: 2px;
  max-width: 95px;
}
.module-price .price {
 color: #d44d01;
}
.module-description {
  margin-left: 100px;
}
.module-title {
  padding-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
}
.module-enable input[type=checkbox] {
  position: relative;
  top: 2px;
}
.module-configure {
  margin-top: 8px;
}

.modules-tag span.tag-count {
  color: #909090
}
.modules-tag {
  margin-top: 5px;
  display: inline-block;
}
.modules-tag label {
  padding: 2px 2px;
}
.modules-tag .ui-state-default {
  background: #edecec;
  background: -webkit-linear-gradient(top, #fff, #edecec);
  background: -o-linear-gradient(top, #fff, #edecec);
  background: -ms-linear-gradient(top, #fff, #edecec);
  background: linear-gradient(top, #fff, #edecec);
  border-color: #99a3ad;
  color: #2c3e49;
}

.modules-tag .ui-state-hover,
.modules-tag .ui-state-focus,
.modules-tag .ui-state-activate
{
  border-color: #7a97c1;
  color: #33648c;
}
.modules-tag .ui-state-hover span.tag-count {
  color: #33648c;
}

.modules-tag .ui-state-active {
  background: #d9e6f8;
  background: -webkit-linear-gradient(top, #e8f2fc, #d9e6f8);
  background: -o-linear-gradient(top, #e8f2fc, #d9e6f8);
  background: -ms-linear-gradient(top, #e8f2fc, #d9e6f8);
  background: linear-gradient(top, #e8f2fc, #d9e6f8);
  border-color: #7a97c1;
  color: #2c3e49;
}
.modules-tag .ui-state-active span.tag-count {
  color: #2c3e49;
}

#modules_banner div#more_xcart_modules {
  margin-top: 4px;
  text-align: center;
}

#modules-tabs-thirdparty iframe {
  width: 100%;
  height: 110px;
}

.modules-list li[id^="li_modules_"]:target {
  background-color: #eeee92;
}

/**
 * Product options module
 */
.DataField {
  padding-bottom: 20px;
}

/* Browse files/templates pages */
.AdminFolderReference {
  margin-left: 5px;
}

/* Security warning message */
.SecurityWarning {
  padding-bottom: 14px;
}

.SecurityWarning FONT.ErrorMessage {
  color: #a63b01;
  font-size: 12px;
}

/* Patch section */
a.patch-status {
  text-decoration: none;
  cursor: help;
  border: none;
  border-bottom: 1px dashed #3c6992;
  white-space: nowrap;
  color: #3c6992;
}

td.patch-status {
  padding-left: 10px;
}

a.patch-status-1,
td.patch-status-1
{
  color: green;
  border-color: green;
}

a.patch-status-2,
td.patch-status-2
{
  color: #00f;
  border-color: #00f;
}

a.patch-status-3,
td.patch-status-3
{
  color: red;
  border-color: red;
}

/**
 * -- ADDONS --
 */
/**
 * Special offers module
 */
.sp-product-set-box {
  border: 1px solid #ccc;
}

.sp-product-set-box-sep-big {
  font-size: 13px;
  font-weight: 700;
  color: #4a79a5;
  padding: 15px;
  text-transform: uppercase;
}

.sp-product-set-box-sep-small {
  color: #3c6992;
  font-size: 10px;
  text-transform: uppercase;
}

.sp-product-set-box-head {
  background-color: #eff3f7;
  font-weight: 700;
}

a.sp-product-set-box-del {
  color: #843c39;
}

.sp-order-offer-name {
  font-size: 12px;
  font-weight: 700;
  vertical-align: top;
}

.sp-order-nav-title {
  font-size: 12px;
  color: #843c39;
  font-weight: 700;
}

/**
 * X-Affiliate module section
 */
.AffiliateElmTitle {
  text-align: center;
  font-weight: 700;
  background-color: #FFD44C;
  padding: 1px;
}

.AffiliateElmIconBox {
  width: 70px;
  text-align: center;
  vertical-align: middle;
}

.AffiliateElmsBox {
  background-color: #FFF;
  text-align: center;
  vertical-align: top;
  height: 100%;
}

table.MediaElementProperties tr td {
  color: #666;
  font-size: 10px;
}

td.MediaElementProperty {
  padding-right: 10px;
}

a.a-open-tag:link,
a.a-open-tag:visited,
a.a-open-tag:hover,
a.a-open-tag:active
{
  background: transparent url(../images/open_a.gif) no-repeat left top;
  padding: 2px 0 2px 26px;
}

a.a-close-tag:link,
a.a-close-tag:visited,
a.a-close-tag:hover,
a.a-close-tag:active
{
  background: transparent url(../images/close_a.gif) no-repeat left top;
  padding: 2px 0 2px 26px;
}

a.preview-banner:link,
a.preview-banner:visited,
a.preview-banner:hover,
a.preview-banner:active
{
  background: transparent url(../images/preview_img.gif) no-repeat left top;
  padding: 2px 0 2px 18px;
}

a.delete-elm:link,
a.delete-elm:visited,
a.delete-elm:hover,
a.delete-elm:active
{
  background: transparent url(../images/delete_obj.gif) no-repeat left top;
  padding: 2px 0 2px 18px;
  line-height: 16px;
}

a.zoom-elm:link,
a.zoom-elm:visited,
a.zoom-elm:hover,
a.zoom-elm:active
{
  background: transparent url(../images/zoom.gif) no-repeat left top;
  padding: 2px 0 2px 18px;
  line-height: 16px;
}

a.add-elm:link,
a.add-elm:visited,
a.add-elm:hover,
a.add-elm:active
{
  background: transparent url(../images/add_obj.gif) no-repeat left top;
  padding: 2px 0 2px 18px;
  line-height: 16px;
}

.xaff-banner-item {
  margin-bottom: 30px;
}

.xaff-banner-item-odd {
  background-color: #eee;
}

.xaff-banner-item a.modify:link,
.xaff-banner-item a.modify:visited,
.xaff-banner-item a.modify:hover,
.xaff-banner-item a.modify:active
{
  background: transparent url(../images/modify.gif) no-repeat left 1px;
  padding-left: 14px;
}

.xaff-banner-item a.delete:link,
.xaff-banner-item a.delete:visited,
.xaff-banner-item a.delete:hover,
.xaff-banner-item a.delete:active
{
  background: transparent url(../images/delete_cross.gif) no-repeat left 3px;
  padding-left: 12px;
}

.xaff-banner-item table.banner-box {
  margin-top: 5px;
  background: #dcdcdc none;
}

.xaff-banner-item td.banner-box {
  padding: 8px 10px;
  background: #fff none;
}

ul.xaff-categories {
  list-style: none;
  margin: 0 0 0 24px;
  padding: 0;
}

ul.xaff-cat-0 {
  margin-left: 0;
}

ul.xaff-categories li {
  margin: 0;
  padding: 0;
  line-height: 16px;
  vertical-align: middle;
}

ul.xaff-categories li span {
  font-size: 12px;
  font-family: monospace;
}

ul.xaff-categories span a:link,
ul.xaff-categories span a:visited,
ul.xaff-categories span a:hover,
ul.xaff-categories span a:active
{
  font-family: monospace;
  text-decoration: none;
  outline-style: none;
  font-size: 12px;
}

td.xaff-comission-cell,
td.xaff-comission-cell span,
td.xaff-comission-cell input,
td.xaff-comission-cell label
{
  vertical-align: middle;
}

ul.xaff-paid-partners {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

ul.xaff-paid-partners li {
  padding: 0;
  margin: 0;
}

ul.xaff-paid-partners li.zero {
  display: none;
}

ul.xaff-paid-partners li.ready,
ul.xaff-paid-partners li.min
{
  display: list-item;
}

ul.xaff-paid-partners li.zero span.total {
  color: #000;
}

ul.xaff-paid-partners li.ready span.total {
  color: #6e2;
}

ul.xaff-paid-partners li.min span.total {
  color: red;
}

ul.xaff-paid-partners li span.minpaid {
  padding-left: 10px;
}

ul.xaff-paid-partners li.ready span.minpaid,
ul.xaff-paid-partners li.zero span.minpaid
{
  display: none;
}

ul.xaff-paid-partners li.min span.minpaid {
  display: inline;
}

.xaff-atree-item {
  white-space: nowrap;
}

.xaff-atree-internal {
  font-weight: 700;
}

/**
 * X-AOM module
 */
ul.AomActions {
  padding-left: 20px;
  margin: 0;
}

li.AomActionActive {
  list-style-type: disc;
  font-weight: 700;
  text-indent: 0;
  padding: 3px;
}

li.AomAction {
  list-style-type: none;
  text-indent: 0;
  padding: 3px;
}

li.AomActionDisabled {
  list-style-type: none;
  text-indent: 0;
  padding: 3px;
  color: #818891;
}

.OrderNotes {
  padding: 5px;
  border: solid 1px #ccc;
  width: 400px;
}

#history-box {
  padding: 5px;
  border: solid 1px #ccc;
  font-size: 10px;
}

#history-box ul {
  padding-left: 20px;
  margin: 0;
}

#history-box li {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

#history-box .subhead {
  color: #000;
  font-size: 10px;
  font-weight: 700;
  padding-top: 3px;
  margin: 0;
}

#history-box .subhead-comment {
  color: #000;
  font-size: 10px;
  font-weight: 400;
  padding: 3px 0;
  margin: 0;
}

#history-box .subhead-note {
  color: #848a94;
  padding: 3px 0;
  font-size: 10px;
}

#history-box .section-subhead {
  color: #b51a00;
  font-size: 10px;
  font-weight: 400;
  padding: 3px 0;
  margin: 0;
}

#history-box p {
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  padding: 0;
  margin: 0;
}

#history-box .status {
  color: #848a94;
}

input.create-order-customer {
  color: #5e5e5e;
}

/**
 * Survey module
 */
.SurveyStatLabel {
  padding-left: 10px;
  white-space: nowrap;
}

td.SurveyAnswerComment {
  padding-left: 20px;
}

div.SurveyAnswerComment {
  width: 80%;
  background-color: #EEE;
  padding: 0;
  margin: 5px;
  border: 1px solid #DDD;
}

.SurveyQuestion {
  font-size: 12px;
  font-weight: 700;
  padding: 2px;
}

.SurveyAnswerTextLine_1 {
  background-color: #EEE;
  padding: 5px;
}

.SurveyAnswerTextLine_2 {
  background-color: #c5d0e1;
  padding: 5px;
}

a.SurveyAnswerTextLine:link {
  color: #112536;
  text-decoration: none;
}

a.SurveyAnswerTextLine:visited {
  color: #112536;
  text-decoration: none;
}

a.SurveyAnswerTextLine:hover {
  color: #112536;
  text-decoration: underline;
}

a.SurveyAnswerTextLine:active {
  color: #112536;
  text-decoration: none;
}

td.SurveyTab {
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  height: 26px;
  white-space: nowrap;
  font-size: 12px;
  color: #953e0e;
  text-decoration: underline;
}

td.SurveyTabSelected {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 26px;
  background-color: #eee;
  white-space: nowrap;
  font-weight: 700;
  font-size: 12px;
  color: #953e0e;
}

td.SurveyTabLine {
  height: 1px;
  background-color: #eee;
}

td.SurveyTabLine img {
  height: 1px;
  width: 100%;
}

.ReadOnlyField {
  background: #DDD;
}

.ImageNotes {
  color: #3c6992;
}

.ExpandSectionText {
  color: #043fa0;
  text-decoration: underline;
}

.normal {
  font-weight: 400;
}

/**
 * X-Configurator module
 */
table.slot-products-container {
  width: 100%;
  height: 500px;
}

td.slot-products-container {
  width: 100%;
  height: 500px;
  vertical-align: top;
  padding: 0 20px;
}

.slot-products-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 10px 0 0 20px;
}

.slot-products-box {
  overflow: auto;
  width: 100%;
  height: 450px;
  border: 1px solid #999;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}

.slot-product {
  padding: 15px 20px;
  vertical-align: top;
  width: 100%;
}

/**
 * Pagination mechanism
 */
.nav-pages {
  white-space: nowrap;
  vertical-align: bottom;
  padding: 2px 0 15px;
  margin: 0;
}

.nav-pages .nav-delim {
  padding-left: 12px;
}

.nav-pages-title {
  padding-right: 10px;
}

.nav-pages img {
  vertical-align: bottom;
  width: 15px;
  height: 15px;
}

.nav-pages a:link,
.nav-pages a:visited,
.nav-pages a:hover,
.nav-pages a:active
{
  text-align: center;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

.nav-pages-larrow img {
  background: transparent url(../images/navigation_arrow_left.gif) no-repeat left top;
}

.nav-pages-rarrow img {
  background: transparent url(../images/navigation_arrow_right.gif) no-repeat left top;
}

.nav-pages .current-page {
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

/**
 * Buttons (jQuery UI based)
 */

.ui-button .ui-button-text,
input.ui-button
{
  padding: 0.1em 0.5em;
}

.main-button button.ui-state-default,
.main-button input.ui-state-default
{
  background: #5e8fb7;
  border-color: #33648c;
  color: #fff;
}

.main-button button.ui-state-hover,
.main-button input.ui-state-hover
{
  background-color: #5298d2;
  border-color: #3d77a6;
  color: #fff;
}

.main-button button.ui-state-focus,
.main-button input.ui-state-focus,
.main-button button.ui-state-activate,
.main-button input.ui-state-activate
{
  background-color: #5298d2;
  border-color: #3d77a6;
  color: #c5e5ff;
}

#sticky_content .main-button,
#sticky_content .additional-buttons,
#sticky .content .main-button,
#sticky .content .additional-buttons
{
  float: left;
}

#sticky_content .main-button
{
  margin: 10px 10px 10px 0;
}

#sticky_content .additional-buttons
{
  margin: 15px 0 0 0px;
}

#sticky .content .main-button
{
  margin: 0px 10px 10px 0;
}

#sticky .content .additional-buttons
{
  margin: 5px 0 10px 0;
}

/**
 * jQuery UI tabs layout change
 * (remove style definitions below to have default UI tabs look & feel)
 */

.ui-tabs {
  padding: 0;
  border: 0 none;
}

.ui-tabs .ui-tabs-panel {
  border-width: 1px;
}

.ui-tabs .ui-widget-header {
  background: transparent none;
  border: 0 none;
}

.ui-tabs .ui-tabs-nav {
  padding-left: 0;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  outline: 0;
}

.main-button button.big-main-button,
.main-button input[type=submit].big-main-button,
.main-button input[type=button].big-main-button {
  font-family: tahoma, helvetica, sans-serif;
  font-size: 18px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/**
 * link-with-arrow
 */
a.simple-arrow-button:link,
a.simple-arrow-button:visited,
a.simple-arrow-button:hover,
a.simple-arrow-button:active
{
}

a.simple-edit-button:link,
a.simple-edit-button:visited,
a.simple-edit-button:hover,
a.simple-edit-button:active
{
  padding-left: 15px;
  background: transparent url(../images/icon_edit.gif) no-repeat 5px 3px;
}

a.simple-return-button:link,
a.simple-return-button:visited,
a.simple-return-button:hover,
a.simple-return-button:active
{
  padding-left: 14px;
  background: transparent url(../images/icon_return.gif) no-repeat 5px 3px;
}

a.simple-confirm-button:link,
a.simple-confirm-button:visited,
a.simple-confirm-button:hover,
a.simple-confirm-button:active
{
  padding-left: 14px;
  background: transparent url(../images/icon_confirm.gif) no-repeat 5px 3px;
}

a.simple-cancel-button:link,
a.simple-cancel-button:visited,
a.simple-cancel-button:hover,
a.simple-cancel-button:active
{
  padding-left: 14px;
  background: transparent url(../images/icon_cancel.gif) no-repeat 6px 5px;
}

a.simple-delete-button:link,
a.simple-delete-button:visited,
a.simple-delete-button:hover,
a.simple-delete-button:active
{
  padding-left: 0;
  color: #b51a00;
}

a.simple-link-button:link,
a.simple-link-button:visited,
a.simple-link-button:hover,
a.simple-link-button:active
{
  padding-left: 0;
}

a.simple-image-change-button:link,
a.simple-image-change-button:visited,
a.simple-image-change-button:hover,
a.simple-image-change-button:active
{
  padding: 3px 0 3px 20px;
  background: transparent url(../images/change_image.gif) no-repeat 5px 4px;
  font-size: 10px;
}

a.simple-image-reset-button:link,
a.simple-image-reset-button:visited,
a.simple-image-reset-button:hover,
a.simple-image-reset-button:active
{
  padding: 3px 0 3px 20px;
  background: transparent url(../images/reset_image.gif) no-repeat 5px 4px;
  font-size: 10px;
}

a.simple-image-delete-button:link,
a.simple-image-delete-button:visited,
a.simple-image-delete-button:hover,
a.simple-image-delete-button:active
{
  padding: 3px 0 3px 20px;
  background: transparent url(../images/delete_image.gif) no-repeat left 5px 4px;
  font-size: 10px;
}

a.simple-modules-button .ui-button-text {
  padding: 2px 8px;
}

a.simple-thirdparty-modules-button .ui-button-text {
  padding: 7px 16px;
}
#more-thirdparty-modules table {
  text-align: center;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 8px;
}

td.delete-icon {
  background: #fff;
}

a.delete-link:link,
a.delete-link:visited,
a.delete-link:hover,
a.delete-link:active
{
  background: transparent url(../images/delete_record.gif) no-repeat scroll left 3px;
  padding-left: 12px;
}

#ajax-dialog-message {
  padding: 5px 0 10px;
  width: 100%;
}

#ajax-dialog-message .box {
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #000;
  border-top: 3px solid #000;
  padding: 10px 10px 10px 59px;
  vertical-align: middle;
  text-align: left;
  min-height: 22px;
}

#ajax-dialog-message a.close-link:link,
#ajax-dialog-message a.close-link:visited,
#ajax-dialog-message a.close-link:hover,
#ajax-dialog-message a.close-link:active
{
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 7px;
  height: 7px;
  text-decoration: none;
}

#ajax-dialog-message .close-img-i {
  width: 7px;
  height: 7px;
  background: transparent url(../images/cross_info.gif) no-repeat left top;
}

#ajax-dialog-message .close-img-w {
  width: 7px;
  height: 7px;
  background: transparent url(../images/cross_warn.gif) no-repeat left top;
}

#ajax-dialog-message .close-img-e {
  width: 7px;
  height: 7px;
  background: transparent url(../images/cross_error.gif) no-repeat left top;
}

#ajax-dialog-message .message-i {
  color: #112536;
  border-color: #7a97c1;
  background: #f4f5f7 url(../images/icon_info_small.gif) no-repeat 10px 10px;
  white-space: normal;
}

#ajax-dialog-message .message-w {
  color: #3e3104;
  border-color: #c3902f;
  background: #f8f7f3 url(../images/icon_warning_small.gif) no-repeat 10px 10px;
  white-space: normal;
}

#ajax-dialog-message .message-w {
  color: #590a0a;
  border-color: #d30000;
  background: #f7f3f3 url(../images/icon_error_small.gif) no-repeat 10px 10px;
  white-space: normal;
}

/* no-wrap */
.nowrap {
  white-space: nowrap;
}

/**
 * image verification module
 */
div.iv-box {
  margin-top: 15px;
  font-size: 12px;
  line-height: normal;
}

table tr td.iv-box {
  font-size: 12px;
  line-height: normal;
  vertical-align: middle;
}

table tr td.iv-box-descr {
  padding-top: 15px;
  font-size: 12px;
  line-height: normal;
}

.iv-description {
  padding: 0;
  margin: 0;
}

.iv-row {
  text-align: left;
  height: 60px;
}

.iv-img {
  text-align: center;
}

.iv-input {
  text-align: center;
}

.iv-row .iv-img {
  text-align: left;
  margin-right: 10px;
  float: left;
}

.iv-row .iv-input {
  text-align: left;
  height: 60px;
  line-height: 60px;
}

.iv-input input {
  width: 100px;
}

.iv-error {
  padding-left: 5px;
  color: red;
}

.iv-box a:link,
.iv-box a:visited,
.iv-box a:hover,
.iv-box a:active
{
  font-size: 12px;
  text-decoration: underline;
}

/* Gift Registry module */
.product-event {
  color: #b51800;
  padding-left: 5px;
  height: 20px;
  vertical-align: middle;
}

ul.wishlists-events {
  padding: 0 0 3px 15px;
}

ul.wishlists-events li {
  padding: 2px;
}

.greeting-message {
  padding: 5px;
  margin: 5px 0 15px;
  border: solid 1px #cecfce;
  background-color: #efefef;
  width: 400px;
}

/**
 * Webmaster mode
 */
.lbl {
  display: inline !important;
  color: green !important;
  font-weight: 700 !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}

.section {
  margin: 0 !important;
  padding: 0 !important;
  width: auto !important;
}

input.error-field,
.error-field {
  background: #ffd8d3 none;
}

div.menu-box {
  margin: 0 0 6px;
  padding: 0;
  position: relative;
}

div.first-box {
  margin-top: 4px !important;
}

.exportspec-level-1 {
  padding-left: 25px;
}

.exportspec-level-2 {
  padding-left: 50px;
}

.exportspec-level-3 {
  padding-left: 75px;
}

.exportspec-level-4 {
  padding-left: 100px;
}

.exportspec-level-5 {
  padding-left: 125px;
}

.exportspec-level-6 {
  padding-left: 150px;
}

.exportspec-level-7 {
  padding-left: 175px;
}

.exportspec-level-8 {
  padding-left: 200px;
}

.exportspec-level-9 {
  padding-left: 225px;
}

.exportspec-level-10 {
  padding-left: 250px;
}

div.description {
  position: relative;
  margin-bottom: -14px;
  width: 200px;
}

div.description-data {
  padding: 0 0 10px;
}

.top-message-info {
  background: url("../images/icon_info_small.gif") no-repeat 10px 10px #e3ebf6;
  color: #3272ad;
  width: 275px;
  min-height: 40px;
  overflow: hidden;
  padding: 10px 5px 10px 35px;
  position: fixed;
  right: 0;
  top: 0;
}

/**
 * Quick search panel
 */
#quick_search_panel {
  position: fixed;
  top: 30px;
  left: 50%;
  width: 0;
  z-index: 3000;
}

#quick_search_panel div.quick-search-panel-main {
  position: absolute;
  top: 0;
  left: -191px;
  height: 76px;
  width: 383px;
  border: solid 3px #a5a49c;
  background: #fff url(../images/quick_search_left.gif) top left no-repeat;
}

#quick_search_panel div.quick-search-panel-main div.quick-search-body {
  position: relative;
  top: 0;
  left: 0;
  margin: 10px 25px 5px 65px;
  border: none;
  background: transparent;
}

#quick_search_panel div.quick-search-panel-main div.quick-search-close {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 6px;
  right: 6px;
  background: transparent url(../images/quick_search_close.gif) right top no-repeat;
  cursor: pointer;
}

#quick_search_no_results,
#quick_search_no_pattern
{
  color: #a10000;
  font-weight: 700;
}

#quick_search_results {
  font-size: 12px;
}

table.quick-search-results td {
  padding: 4px 10px;
}

span.quick-search-item,
span.quick-search-active-item
{
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #000;
  margin: 4px;
}

span.quick-search-active-item {
  background-color: #EEE;
}

/**
 * 'Need help' box
 */
.need-help-link:link,
.need-help-link:visited,
.need-help-link:hover,
.need-help-link:active
{
  text-decoration: none;
  cursor: help;
  border: none;
  border-bottom: 1px dashed #3c6992 !important;
  white-space: nowrap;
  color: #3c6992 !important;
}

div.need-help-box,
div.need-help-box div
{
  position: absolute;
  width: 350px;
  margin: 0;
  padding: 0;
  right: 10px;
  z-index: 5000;
}

div.need-help-box div {
  top: 0;
  border: 1px solid #888;
  background: #FFF;
  padding: 6px;
  white-space: normal;
  font-weight: 400;
  overflow: hidden;
}

div.quick-search-how {
  margin-left: 65px;
}

div.quick-search-link {
  background: transparent url(../images/magnifier_img.png) no-repeat 0 0;
  font-weight: 700;
  height: 15px;
}

div.quick-search-link a {
  padding-left: 16px;
}

.upper {
  text-transform: uppercase;
}

/**
 * Snapshots fingerprints
 */
td.snapshots-file img.snapshots-type {
  width: 14px;
  height: 13px;
  background: transparent url(../images/file_other.gif) no-repeat;
}

td.snapshots-fileP img.snapshots-type {
  width: 14px;
  height: 13px;
  background: transparent url(../images/file_php.gif) no-repeat;
}

td.snapshots-fileT img.snapshots-type {
  width: 14px;
  height: 13px;
  background: transparent url(../images/file_tpl.gif) no-repeat;
}

td.snapshots img.file-edit {
  width: 9px;
  height: 9px;
  background: transparent url(../images/link_icon.gif) no-repeat;
}

td.snapshots-fileT {
  color: #0e8003;
}

td.snapshots-fileP {
  color: #853302;
}

td.snapshots-file {
  color: #525458;
}

.closed-store,
.open-store,
.closed-store a,
.open-store a,
.closed-store span,
.open-store span
{
  font-size: 12px;
}



.open-store .emph {
  color: #25BC2F;
  font-weight: 700;
}

.closed-store .emph {
  color: #dc2f00;
  font-weight: 700;
}

/**
 * Evaluation notice styles
 */

td.evaluation-container {
  padding: 0;
}

div.evaluation-notice {
  color: #2c3e49;
/*  
  border: solid 5px #c3c3c3;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;*/
  font-size: 14px;

}

div.evaluation-notice span.license-warning {
  color: #970e0e;
  font-weight: bold;
  font-size: 16px;
}

div.evaluation-notice p.evaluation-notice-title {
  font-weight: bold;
  font-size: 16px;
}

div.evaluation-notice .purchase-license {
  text-align: center;
}

div.evaluation-notice .purchase-license-btn {
  font-size: 16px;
  padding: 7px 12px;
}

.evaluation-notice-ol {
  padding-left: 25px;
}

.evaluation-notice-ol li {
  list-style-type: decimal;
  padding: 6px 0px;
}

/**
 * Welcome page
 */
p.welcome-text {
  font-size: 12px;
  line-height: 18px;
}

div.promotion-cell {
  padding-bottom: 10px;
}

div.promotion-link a {
  font-size: 12px;
  white-space: nowrap;
  color: #043fa0;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 21px;
  vertical-align: bottom;
  text-decoration: underline;
  outline-style: none;
}

div.cctest-description {
  margin-top: 5px;
}

div.cctest-description ul {
  padding-left: 20px;
}

div.cctest-description ul li {
  padding-bottom: 3px;
}

div.back-to-payments {
  width: 200px;
  position: relative;
  float: right;
  margin-top: 13px;
}

/* Promotions page */
dl.promotions dt {
  font-size: 12px;
  padding: 7px 0 3px;
  font-weight: 700;
}

dl.promotions dd {
  line-height: 16px;
  margin-left: 15px;
}

/* PayPal Flow wizard */
.paypal-flow h1 {
}

.paypal-flow h2 {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  margin-top: 26px;
  margin-bottom: 0;
  margin-left: 3px;
}

.paypal-flow ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.paypal-flow ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.paypal-flow .buttons-line {
  margin-top: 26px;
  margin-left: 2px;
}

.paypal-flow button {
  font-size: 12px;
  padding-top: 1px;
  padding-bottom: 2px;
  color: #2c3e49;
  margin-left: 10px;
}

.paypal-flow button.first {
  margin-left: 0;
}

/* Step 1 */
.paypal-flow .step1 {
  margin-left: 34px;
}

.paypal-flow .step1 ul {
  margin-bottom: 21px;
}

.paypal-flow .step1 ul li {
  margin-top: 23px;
  line-height: 30px;
}

.paypal-flow .step1 ul li.first {
  margin-top: 16px;
}

.paypal-flow .step1 label {
  font-size: 18px;
  vertical-align: middle;
  padding-left: 12px;
}

.paypal-flow .step1 li input {
  margin: 4px 0 0;
  vertical-align: middle;
}

.paypal-flow .step1 li img {
  display: block;
  margin: 3px 0 0 27px;
  height: 23px;
}

.paypal-flow img.cc-line-paypal {
  width: 237px;
}

.paypal-flow img.cc-line {
  width: 197px;
}

.paypal-flow .note {
  padding-bottom: 6px;
  font-size: 12px;
}

.paypal-flow .step1 a:link,
.paypal-flow .step1 a:visited,
.paypal-flow .step1 a:hover,
.paypal-flow .step1 a:active
{
  font-size: 12px;
}

/* Step 2a */
.paypal-flow .step2a table {
  margin-top: 20px;
  margin-bottom: 10px;
}

.paypal-flow .step2a table td {
  padding: 0;
}

.paypal-flow .step2a td.separator {
  width: 53px;
}

.paypal-flow .step2a td.separator img {
  width: 53px;
  height: 1px;
}

.paypal-flow .step2a .card-title td {
  font-size: 18px;
  padding-bottom: 12px;
}

.paypal-flow .step2a .card-header {
  height: 48px;
  border-width: 1px;
  border-style: solid;
  padding: 7px 10px 7px 14px;
  font-size: 16px;
  position: relative;
  line-height: 24px;
  color: #000;
}

.paypal-flow .step2a .card-header a:link,
.paypal-flow .step2a .card-header a:visited,
.paypal-flow .step2a .card-header a:hover,
.paypal-flow .step2a .card-header a:active
{
  display: block;
  position: absolute;
  right: 11px;
  bottom: 11px;
  line-height: normal;
}

.paypal-flow .step2a .card-body {
  border: 1px solid #dcdcdc;
  border-top: 0 none;
  padding: 15px 14px;
}

.paypal-flow .step2a ul.features {
  height: 148px;
}

.paypal-flow .step2a ul li {
  background: transparent url(../images/paypal_bullet.gif) no-repeat left 4px;
  padding-left: 8px;
  padding-bottom: 10px;
  font-size: 12px;
  color: #2c3e49;
}

.paypal-flow .step2a .card-body strong {
  padding-left: 8px;
  font-size: 12px;
  line-height: 32px;
}

.paypal-flow .step2a .card-body form {
  text-align: right;
  padding-right: 10px;
}

.paypal-flow .step2a .wps,
.paypal-flow .step2a .wpp
{
  width: 50%;
}

.paypal-flow .step2a .wps .card-header {
  background: transparent url(../images/paypal_green_g.gif) repeat-x top left;
  border-color: #c1e0c1;
}

.paypal-flow .step2a .wpp .card-header {
  background: transparent url(../images/paypal_blue_g.gif) repeat-x top left;
  border-color: #c6d7e3;
}

.paypal-flow .step2a a:link,
.paypal-flow .step2a a:visited,
.paypal-flow .step2a a:hover,
.paypal-flow .step2a a:active
{
  font-size: 12px;
}

/* Step 2b */
.paypal-flow .step2b {
  margin-top: 20px;
  padding-left: 3px;
}

.paypal-flow .step2b h3 {
  color: #000;
  margin: 0 0 6px;
  padding: 0;
}

.paypal-flow .step2b li input {
  vertical-align: middle;
  margin: 3px 4px 3px 6px;
}

.paypal-flow .step2b li label {
  vertical-align: middle;
  font-size: 12px;
}

.paypal-flow .step2b ul {
  margin-left: 4px;
  margin-bottom: 32px;
}

.paypal-flow .step2b ul.complex,
.paypal-flow .step2b ul.gateways
{
  border: 1px solid #dcdcdc;
  padding: 1px 1px 0;
  margin-left: 0;
}

.paypal-flow .step2b ul.complex li,
.paypal-flow .step2b ul.gateways li
{
  margin-bottom: 1px;
  line-height: 25px;
}

.paypal-flow .step2b ul li.selected {
  background-color: #efefef;
}

.paypal-flow .step2b ul li.sub {
  padding-left: 20px;
}

.paypal-flow .step2b ul li.sub-selected {
  background-color: #f6f6f6;
}

.paypal-flow .step2b ul li.sub ul {
  margin-bottom: 0;
  padding-bottom: 7px;
}

.paypal-flow .step2b ul li.sub ul li {
  line-height: normal;
  padding-top: 5px;
  padding-bottom: 7px;
}

.paypal-flow .step2b ul li.sub ul li.last {
}

.paypal-flow .step2b li.sub input {
  margin: 2px 0 0 6px;
}

.paypal-flow .step2b li.sub label {
  font-size: 12px;
}

.paypal-flow .step2b ul li.sub div {
  font-size: 10px;
  color: #838383;
  padding-left: 24px;
}

/* Step 3 */
.paypal-flow .step3 {
  margin-top: 12px;
}

.paypal-flow .step3 ul {
}

.paypal-flow .step3 ul li {
  padding: 7px 10px 14px 12px;
  border: 1px solid #fff;
  background-color: #fff;
  margin-bottom: 10px;
  line-height: 18px;
}

.paypal-flow .step3 ul li.selected {
  border-color: #efefef;
  background-color: #fafafa;
}

.paypal-flow .step3 ul input {
  margin: 1px 0 0;
  vertical-align: middle;
}

.paypal-flow .step3 ul label {
  font-size: 12px;
  font-weight: 700;
  color: #000;
  vertical-align: middle;
  padding-left: 4px;
}

.paypal-flow .step3 ul div {
  padding-left: 22px;
  color: #2c3e49;
  line-height: 18px;
  margin-top: 4px;
  font-size: 12px;
}

.paypal-flow .step3 ul div a:link,
.paypal-flow .step3 ul div a:visited,
.paypal-flow .step3 ul div a:hover,
.paypal-flow .step3 ul div a:active
{
  font-size: 12px;
}

/* PayPal Express Checkout block */
*
.paypal-pec .img-box {
  float: right;
  text-align: center;
}

.paypal-pec .img-box button {
  margin-top: 20px;
}

/* PayPal payment configuration page */
table#paypal-settings h3 {
  margin-top: 0;
}

#api_settings {
  border: 1px solid #ddd;
}

#paypal_help_number {
  font:1.1em/1.5 Tahoma, Helvetica, sans-serif;
  background: url(../images/lamp.gif) no-repeat 0 7%;
  margin:0 0 2px 2px;
  padding:0 0 1px 25px;
  height: auto;
  display: block;
}

table.paypal-method-settings {
  border: 0;
  padding: 0;
  border-collapse: collapse;
}
table.paypal-method-settings table td {
  padding: inherit;
}
.paypal-method-settings td {
  padding: 10px 10px 0px 10px;
}
.paypal-method-settings tr.comment td {
  color: #3c6992;
  text-decoration: none;
  font-size: 11px;
  padding-top: 0px;
  padding-left: 12px;
}
.paypal-method-settings tr.header td {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: right;
  color: #a8a8a8;
}
.paypal-method-settings tr.last td {
  padding-bottom: 14px;
}
.paypal-method-settings tr.first td {
  padding-top: 0px;
}
.paypal-method-settings tr.api-first td {
  border-top: 1px solid #ddd;
}
.paypal-method-settings tr.api-last td {
  border-bottom: 1px solid #ddd;
  padding-bottom: 14px;
}
.paypal-method-settings tr.optional td {
  background-color: #f6f6f6;
}
.paypal-method-settings td.setting-name {
  white-space: nowrap;
}
.paypal-method-settings input[type=radio] {
  position: relative;
  top: 1px;
}
#paypal_bml_status {
  border: solid 1px #ccc;
  background: #ececec;
  padding: 17px 10px 17px 10px;
}

/* Summary :: Tools page */
ul.accounts-group-cell {
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  margin: 0;
}

ul.accounts-group-cell li {
  list-style-type: none;
  font-size: 12px;
  font-weight: 700;
}

ul.accounts-list {
  margin: 0;
}

ul.accounts-list li {
  font-weight: 400;
  font-size: 10px;
  padding: 3px 0;
}

.accounts-list i {
  color: #ccc;
}

.external-link {
  padding-right: 15px;
  background: transparent url(../images/external_link.gif) no-repeat right 3px;
  display: block;
  height: 15px;
}

.more-xcart-templates-link
{
  width: 125px;
}

.xpc-xpayments-link
{
  width: 186px;
  margin-left: 7px;
}

#horizontal-menu li div a.external-link-menu:hover,
#horizontal-menu li div a.external-link-menu:active,
#horizontal-menu li div a.external-link-menu:link,
#horizontal-menu li div a.external-link-menu:visited
{
  background: transparent url(../images/external_link.gif) no-repeat 96%;
}

#horizontal-menu li div a.external-link-menu:hover
{
  background: #e3ebf6 url(../images/external_link.gif) no-repeat 96%;
}

/**
 * Modal window styles
 */
#modal-background {
  position: absolute;
  background: transparent url(../images/grey.png) repeat scroll left top;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-window {
  background: #fff;
  position: absolute;
  z-index: 20000;
}

.modal-window {
  position: fixed !important;
}

a.modal-close {
  display: block;
  width: 30px;
  height: 14px;
  background: transparent url(../images/close_images_preview.gif) no-repeat left 5px;
  position: absolute;
  top: -15px;
  right: 3px;
  padding-left: 9px;
  text-decoration: none;
  text-transform: lowercase;
  color: #4E4E4E;
  font-size: 12px;
  z-index: 40000;
}

.modal-body {
  position: absolute !important;
  top: 0;
  left: 0;
}

.modal-body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30000 !important;
}

/**
 * Google map specific styles
 */
#gmap_modal .modal-body,
#gmap_modal
{
  border: #fff solid 20px;
}

#gmap_modal .modal-body {
  left: -20px;
  margin-top: 130px;
}

.gmarker {
  display: block;
  background: transparent url(../images/gmarker.png) no-repeat left top;
  width: 9px;
  height: 14px;
}

.gmarker {
  float: right;
  margin-right: 5px;
}

.gmarker-show-on {
  padding-left: 10px;
  width: 50px;
  white-space: nowrap;
}

.gmap-order-info .gmarker {
  float: left;
  margin-left: 100px;
}

/**
 * Address book 
 */
table.address-book-container th {
  font-weight: 400;
  font-size: 12px;
}

.info-warning {
  display: block;
  background: transparent url(../images/info_warn.png) no-repeat left top;
  font-size: 12px;
  font-weight: 700;
  height: 34px;
  margin: 4px 0 0;
  padding: 4px 0 0 42px;
}

/**
 * Horizontal menu
 */
#horizontal-menu {
  display: inline-block;
  list-style: none;
  font-size: 12px;
  background: transparent;
  z-index: 1000;
  padding-left: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  white-space: nowrap;
}

#horizontal-menu li {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  zoom: 1; *display: inline; /* IE7 fix */
  position: relative;
  padding: 7px 12px;
  background: transparent url(../images/horizontal_menu_item.png) repeat-x left top;
  color: #000;
  height: 17px;
  line-height: 17px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 1px;
}

#horizontal-menu li:hover,
#horizontal-menu li.orange:hover,
.horizontal-menu-li-hover
{
  color: #0063af;
  background: #fff;
}

#horizontal-menu li a:link,
#horizontal-menu li a:visited,
#horizontal-menu li a:hover,
#horizontal-menu li a:active
{
  text-decoration: none;
  color: #000;
}

#horizontal-menu li a:hover {
  color: #0063af;
}

#horizontal-menu li div {
  display: none;
  padding: 0;
  white-space: nowrap;
  margin-top: 10px;
  z-index: 1000;
  background-color: white;
}

.horizontal-menu-li-hover-div,
#horizontal-menu li:hover div,
#horizontal-menu li.orange:hover div
{
  display: block;
  position: absolute;
  left: -1px;
  top: 21px;
  background: #fff;
  border: 1px #aaa solid;
  border-top: 0 none;
  min-width: 170px;
}

#horizontal-menu li div a,
#horizontal-menu li.orange div a
{
  font-size: 12px;
  display: block;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  float: none !important;
}

#horizontal-menu li.orange {
  height: 17px;
  line-height: 17px;
  background: transparent url(../images/head_linebg.gif) repeat-x left top;
  font-weight: bold;
}

#horizontal-menu li.orange a:link, 
#horizontal-menu li.orange a:visited, 
#horizontal-menu li.orange a:hover, 
#horizontal-menu li.orange a:active 
{
  color: #FFFFFF;
}

#horizontal-menu li.orange:hover a:link, 
#horizontal-menu li.orange:hover a:visited, 
#horizontal-menu li.orange:hover a:hover, 
#horizontal-menu li.orange:hover a:active 
{
  color: #f26202;
}

#horizontal-menu li div a:link,
#horizontal-menu li div a:visited,
#horizontal-menu li div a:hover,
#horizontal-menu li div a:active,
#horizontal-menu li.orange div a:link, 
#horizontal-menu li.orange div a:visited, 
#horizontal-menu li.orange div a:hover, 
#horizontal-menu li.orange div a:active, 
#horizontal-menu li.orange:hover div a:link, 
#horizontal-menu li.orange:hover div a:visited, 
#horizontal-menu li.orange:hover div a:hover, 
#horizontal-menu li.orange:hover div a:active 
{
  color: #003072;
  text-decoration: none;
  font-weight: normal;
}

#horizontal-menu li div a:hover 
{
  background: #e3ebf6;
}

#horizontal-menu li.orange div a
{
  background: #e3ebf6 url(../images/external_link.gif) no-repeat 96%;
}


#head-admin {
  background: #3e464e;
}

.admin-top-news a
{
  color: #83dbff;
}
.admin-top-news
{
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  padding: 14px 20px 0 20px;
  float: left;
}

.admin-dashboard-notications li {
  padding: 0px 0px 14px 0px;
}

.hidden {
  display: none;
}

#logo-gray {
  padding: 10px 0 12px 20px;
  float: left;
}

#admin-top-menu {
  padding: 2px;
  float: right;
}

#admin-top-menu ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#admin-top-menu li
{
  list-style-type: none;
  float: left;
  position: relative;
  z-index: 100;
}

#admin-top-menu li + div
{
  float: left;
}

#admin-top-menu li.your-store {
  z-index: 50;
}

#admin-top-menu li a > span
{
  background: url(../images/dropdown_icon.png) no-repeat 100% 10px;
  padding-right: 12px;
  display: inline-block;
}

#admin-top-menu li.your-store a {
  margin-left: 15px;
}

#admin-top-menu li.your-store a,
#admin-top-menu li.your-store a > span
{
  color: #69a040;
}

#admin-top-menu li.your-store a > span {
  background-image: none;
  cursor: pointer;
}

#admin-top-menu li a {
  cursor: default;
}

#admin-top-menu a,
#admin-top-menu span,
#admin-top-menu a:visited
{
  display: block;
}

#admin-top-menu a,
#admin-top-menu span,
#admin-top-menu div.link-item-block,
#admin-top-menu div.link-item-block a,
#admin-top-menu a:visited
{
  font-size: 14px;
  margin: 4px;
  padding-right: 10px;
  color: #c5e5ff;
  text-decoration: none;
  text-align: left;
}

#admin-top-menu li.your-store div.link-item-block,
#admin-top-menu li.your-store div.link-item-block a
{
  color: #c5e5ff;
}

#admin-top-menu div.link-item-block {
  padding-right: 0px;
}

#admin-top-menu div.link-item-block a,
#admin-top-menu div.link-item-block a:visited,
#admin-top-menu div.link-item-block a:link
{
  display: inline;
  padding: 0px;
  cursor: pointer;
  text-decoration: underline;
}

#admin-top-menu a:hover,
#admin-top-menu a:hover i.icon,
#admin-top-menu a:hover span,
#admin-top-menu li.your-store a:hover span,
#admin-top-menu li.your-store.closed a:hover span,
#admin-top-menu li.your-store.closed a:hover i.icon
{
  color: #fff;
}

#admin-top-menu ul div.children-block
{
  visibility: hidden;
  position: absolute;
  min-width: 260px;
  height: 0;
  margin-left: 12px;
}

#admin-top-menu ul li.last div.children-block
{
  right: 0;
}

#admin-top-menu ul ul
{
  background: #3e464e;
  border: solid 1px #585858;
  padding: 7px 10px;
}

#admin-top-menu ul ul li
{
  float: none;
  padding: 0;
  line-height: 17px;
}

#admin-top-menu ul li:hover ul,
#admin-top-menu ul a:hover ul
{
  visibility: visible;
}

#admin-top-menu ul ul li a span
{
  margin: 0 9px;
  background: 0 none;
}

#admin-top-menu ul ul li a
{
  background: 0 none;
  padding: 6px 0 7px;
  margin: 0;
  cursor: pointer;
}

#admin-top-menu ul ul li.login span,
#admin-top-menu ul ul li.partner span
{
  margin: 0 9px;
  padding: 6px 0 7px;
}

#admin-top-menu ul ul li a,
#admin-top-menu ul ul li a:visited
{
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
}

#admin-top-menu ul ul li a:hover
{
  color: #c5e5ff;
  background-color: #545C63;
}

#admin-top-menu ul ul li.text a,
#admin-top-menu ul ul li.text a span,
#admin-top-menu ul ul li.login span,
#admin-top-menu ul ul li.partner span
{
  color: #fff;
  background: #3e464e;
  cursor: default;
  text-decoration: none;
  white-space: nowrap;
}

#admin-top-menu ul ul li.frontend-opened a span
{
  color: #7bffb0;
}

#admin-top-menu ul ul li.frontend-closed a span,
#admin-top-menu li.your-store.closed a,
#admin-top-menu li.your-store.closed a span,
#admin-top-menu li.your-store.closed a i.icon
{
  color: #febeaf;
}

#admin-top-menu ul ul li.frontend-closed a span,
#admin-top-menu li.your-store.closed .closed
{
  display: inline;
}

#admin-top-menu ul ul li.logoff
{
  margin-top: 10px;
  padding-top: 8px;
  border-top: solid 1px #585858;
}

#admin-top-menu .link-item-block span.storefront-title {
  display: inline;
  white-space: nowrap;
}

#admin-top-menu .storefront-title.storefront-closed {
  color: #e1b598;
}

#admin-top-menu .private-link-storefront-block {
  color: #c4c4c4;
  line-height: 28px;
  white-space: nowrap;
}

#admin-top-menu .private-link-storefront-block a {
  color: #c5e5ff;
  margin: 0px;
  padding: 0px;
  display: inline;
}

#admin-top-menu li.account div {
  right: 5px;
  top: 31px;
}

#admin-top-menu li.account a.list
{
  background: url(../images/account_icon.png) no-repeat 2px -2px;
  border-left: 1px solid #424b53;
  height: 28px;
  margin-top: 4px;
  padding: 4px 15px 0 4px;
  left: 0px;
}

#admin-top-menu li.account a.list:hover
{
  background: url(../images/account_icon.png) no-repeat 2px -32px;
}

#admin-top-menu li.account.warning a.list
{
  background: url(../images/account_icon.png) no-repeat 2px -62px;
}

#admin-top-menu li.account.warning a.list:hover
{
  background: url(../images/account_icon.png) no-repeat 2px -92px;
}

#admin-top-menu li.account a.list span
{
  font-size: 0px;
}

#admin-top-menu li.help {
  padding-left: 12px;
  padding-right: 0px;
}

#admin-top-menu li.help div {
  right: 10px;
  min-width: 220px;
}

#admin-top-menu li.help i.icon.fa-question-circle {
  font-size: 15px;
  left: 0px;
  top: 10px;
  color: #fff;
  position: absolute;
}

#admin-top-menu li.support-link {
  border-top: solid 1px #585858;
}

#admin-top-menu i.icon.fa-external-link {
  float: right;
  margin: 2px 5px;
  display: none;
}

#admin-top-menu a:hover i.icon.fa-external-link {
  display: block;
}

#admin-top-menu li.quick-search-menu button span {
  font-size: 12px;
  margin: 2px;
}

#admin-top-menu a.list
{
  padding: 0 3px 3px 4px;
  cursor: pointer;
  position: relative;
  left: 6px;
}

.admin-language
{
  padding: 5px 20px 5px 0px;
  text-align: right;
  white-space: nowrap;
  width: 160px;
}

.store-open-close-link
{
  white-space: nowrap;
  text-align: right;
  padding: 0 20px 10px 0;
}

.storefront-status {
  float: right;
  white-space: nowrap;
}

.dialog-tools-table {
  padding: 3px;
}

.quick-search-form {
  white-space: nowrap;
}

#quick_search_query {
  width: 160px;
  height: 18px;
  padding-bottom: 0;
  border: 0;
  background: #fff url(../images/glass.png) no-repeat 13.4em 0.4em;
  padding-right: 17px;
}

button.quick-search-button {
  width: 60px;
  height: 20px;
  border: none;
  margin: 0;
  padding: 0;
}

button.quick-search-button span.ui-button-text {
  padding: 0;
  margin: 3px;
  font-size: 12px;
}

.users-online-box {
  text-align: left;
}

.uo-box {
  margin-left: 20px;
}

/**
 * Dialog tools classes
 */
.dialog-tools {
  margin: 16px 20px 20px 0;
  padding: 0;
  min-width: 300px;
}

.dialog-tools-header {
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

.dialog-tools-header li {
  list-style: none;
  float: left;
  margin: 0 0 -1px;
  padding: 5px 19px;
  height: 25px;
  font-size: 15px;
  border: solid 1px #c3c3c3;
  border-bottom: none;
  background: #fff;
  line-height: 25px;
  cursor: pointer;
  color: #010101;
  text-decoration: none;
}

.dialog-tools-header li.dialog-tools-nonactive {
  border: solid 1px #c3c3c3;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 6px 20px 4px;
  color: #0e55a6;
  text-decoration: underline;
}

.dialog-tools-header li.dialog-tools-nonactive:hover {
  text-decoration: none;
}

.clearing {
  clear: both !important;
  height: 0;
  width: 0;
}

.dialog-tools-box {
  border: solid 1px #c3c3c3;
  padding: 10px 0;
  margin: 0;
}

.dialog-tools-content {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dialog-tools-content li {
  list-style: none;
  padding: 8px 20px;
  margin: 0;
}

.dialog-tools-content li:hover {
  background: #f5f5f5;
}

.dialog-tools-header li {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

a.dialog-cell-hl {
  color: #565656;
  text-decoration: none;
}

a.dialog-cell-hl:hover {
  text-decoration: underline;
}

li.dialog-cell-separator img {
  width: 100%;
  height: 1px;
  background: #c3c3c3;
}

li.dialog-cell-separator:hover {
  background: transparent;
}

.delete-profile-link {
  display: block;
  padding: 0 0 0 10px;
  background: transparent url(../images/cross_error.gif) no-repeat left 3px;
  height: 14px;
  line-height: 14px;
  width: 50px;
}

.not-logged-in .central-space {
  width: 100%;
  padding-top: 30px;
}

.login-title {
  width: 100%;
  text-align: left;
  font-size: 25px;
  color: #4a4a4a;
}

.login-table {
  width: 300px;
}

.register-row td {
  padding-top: 10px;
}

/* Form fill error */
.fill-error label {
  color: #ce0000;
}

.fill-error input[type=text],
.fill-error input[type=password],
.fill-error select,
.fill-error textarea
{
  border: solid 1px #ce0000;
  background-color: #ffebeb;
}

div.error-label {
  color: #ce0000;
  font-size: 9px;
  display: none;
}

.fill-error div.error-label {
  display: block;
}

/* Datepicker */
input.datepicker-formatted {
  border: solid 1px #bbb;
  margin-right: 5px;
}

input.datepicker-formatted[disabled] {
  background: #fff;
  color: #bbb;
}

/* zipcode */
input.zipcode {
  width: 100px;
}

input.zip4 {
  width: 60px;
}

#alt_image {
  border: solid 1px #afb9c9;
}

#alt_image_td {
  height: 200px;
}

/**
 * BlockUI plugin (screen overlay) 
 */
.blockMsg {
  padding: 0;
  margin: 0;
  min-width: 200px;
  top: 40%;
  text-align: center;
  color: #000;
  border: 3px solid #aaa;
  background-color: #fff;
  cursor: wait;
}

.modules-list li .blockMsg {
  border: 0 !important;
  background: transparent !important;
}

.blockUI span.waiting {
  padding: 3px;
  background: #fbfbfb url(../images/loading.gif) no-repeat;
  color: #617683;
  display: inline-block;
  font-size: 18px;
  margin: 8px 5px;
  padding: 5px 0 5px 45px;
}

.blockUI #dialog-message {
  padding: 0;
  margin: 0;
}

.blockUI #dialog-message .box {
  margin: 0;
}

.ui-dialog .blockOverlay {
  background: #fff !important;
  opacity: 1 !important;
  filter: Alpha(Opacity=100);
}

.ui-dialog .blockMsg {
  border: 0 none !important;
}

.xalertbox {
  padding: 10px;
  color: #3e3104;
  background: #f8f7f3 url(../images/icon_warning.gif) no-repeat 10px 10px;
}

.xalertbox .msg {
  text-align: left;
  font-size: 14px;
  margin: 0 0 10px 40px;
}

.xalertbox .buttons {
  text-align: right;
}

div.ajax-popup-error-message {
  padding: 0 5px;
  margin: 10px 0;
  display: none;
}

div.ajax-popup-error-message span {
  float: left;
  margin: 0 10px 0 3px;
}

#sticky {
  position: fixed;
  left: 25px;
  bottom: 10px;
  padding: 0;
  text-align: left;
  background: transparent none;
  overflow: hidden;
}

#sticky .bg {
  opacity: .8;
  filter: Alpha(Opacity=80);
  background: #e3ebf6;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}

#sticky .content {
  white-space: nowrap;
  margin: 10px;
}

div#payment-tabs-container {
  min-width: 830px;
}
div#modules-tabs-container {
  min-width: 640px;
}

.banner-tools {
  margin: 0 20px 0 0;
  padding: 3px;
}

.banner-tools-box {
  border: solid 1px #c3c3c3;
  padding: 10px;
  margin: 0;
}

.banner-tools-box .paypal-pec {
  min-width: 300px;
}

#banner_close_link {
  text-align: right;
  margin-bottom: 4px;
}
#banner_close_link a {
  width: 13px;
  height: 13px;
  background: transparent url(../images/but_cross.gif) no-repeat left top;
  display: inline-block;
}

#taxes_banner iframe {
  display: block;
  margin: auto;
}

/*
 * Context help widget
 */

.context-help-root .blockOverlay {
  background: #fff !important;
}

.context-help-form {
  padding: 9px 12px;
}

.context-help-root .context-help-input {
  border-radius: 4px;
  height: 20px;
  padding: 1px 7px;
  width: 180px;
}

.context-help-input:focus {
  outline: none;
}

.context-help-root .context-help-submit {
  font-size: 13px;
  padding: 3px 10px !important;
  line-height: 16px;
  margin: 0 0 0 5px;
}

.context-help-results {
  padding: 0;
  margin: 0;
}

.context-help-results.searching {
  min-height: 70px;
}

.context-help-results * {
  font-family: arial, sans-serif;
}

.context-help-results li.text {
  padding: 6px 7px 7px;
  margin: 0 7px;
}

.context-help-results li.see-more-results {
  margin-top: 10px;
  float: left;
}

.dialog-tools-content .context-help-results li.text:hover {
  background: white;
}

.context-help-results li.page {
  list-style: none;
  padding: 6px 7px 7px;
  margin: 0 7px;
}

.context-help-results li.page .title {
  margin: 0 0 2px;
  font-size: 15px;
}

.context-help-results li.page .title a {
}

.context-help-results li.page .title a:hover {
  text-decoration: underline;
}

.context-help-results li.page .content {
  color: #444;
  font-size: 12px;
}

.context-help-hide {
  margin: 15px 15px 0;
  float: right;
}

/**
 * Popup product autocomplete feature
 */
.ui-autocomplete-loading {
  background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}
.ui-autocomplete {
  padding: 0;
  max-width: 600px;
}
.ui-autocomplete li {
    cursor: pointer;
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    margin: 0;
    min-height: 0;
    padding: 3px 1em 3px 0.4em;
    position: relative;
}

.variants-date-input {
  width: 70px;
}
