/*
ccae421283d4f9a7997cecefe67b3241aa76546a, v7 (xcart_4_7_4), 2015-07-21 00:26:16, admin.css, random
vim: set ts=2 sw=2 sts=2 et:
*/
.card-expire
{
  text-align: right;
  color: #aaa;
  width: 100%;
}
.card-icon,
.card-info
{
  display: inline-block;
  vertical-align: middle;
}
.card-icon {
  width: 90px;
  height: 40px;
  background: url(card_types.png) 0 0 no-repeat;
  background-size: 100%;
}
.card-icon.mc {
}
.card-icon.visa {
  background-position: 0 12.5%;
}
.card-icon.jcb {
  background-position: 0 25%;
}
.card-icon.amex {
  background-position: 0 37.5%;
}
.card-icon.dc {
  background-position: 0 50%;
}
.card-icon.dicl {
  background-position: 0 62.5%;
}
.card-icon.sw {
  background-position: 0 75%;
}
.card-icon.cup {
  background-position: 0 87.5%;
}
.card-icon.bc {
  background-position: 0 100%;
}

table.saved-cards th {
  text-align: left;
}
table.saved-cards tr.button-row td {
  padding-top: 10px;
  text-align: center;
}

ul.saved-cards li {
  list-style: none;
}
ul.saved-cards li label {
  cursor: pointer;
}
ul.saved-cards li label input {
  vertical-align: middle;
}
ul.saved-cards .card-container {
  display: inline-block;
}

.xpc-options {
  padding: 0;
  margin: 0;
}
.xpc-options li {
  list-style: none;
  padding: 8px;
  margin-bottom: -1px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.xpc-option-name,
.xpc-option-value-container,
.xpc-option-value,
.xpc-option-help
{
  display: inline-block;
  vertical-align: middle;
}
.xpc-option-name {
  width: 50%;
}
.xpc-option-value-container {
  width: 49%;
  white-space: nowrap;
}
.xpc-option-error {
  color: red;
  font-style: italic;
}
.xpc-advanced-options-link {
  padding: 8px;
}
.xpc-option-value,
.xpc-options select,
.xpc-options textarea,
.xpc-options input,
#xpc-deploy-entry
{
  max-width: 95%;
}
#xpc-deploy-page {
  max-width: 800px;
}
#xpc-bundle-note {
  margin-left: 14px;
}
.xpc-no-active-pm-warning span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.xpc-payment-error-cell {
  background: #fff;
}

#xpc_update_pm_submit {
  margin-top: 8px;
}
