/* vim: set ts=2 sw=2 sts=2 et: */
/**
 *  
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    5e8f6f027e43ad9baf5123185777a0ce3103aea3, v1 (xcart_4_6_2), 2013-10-21 10:44:47, altskin.css, random
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */
.products-list .fcomp-checkbox-box {
  margin-top: 5px;
  text-align: left;
}
