/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * CSS stylesheet for categoryselector widget
 *
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage Skin
 * @author     Michael Bugrov
 * @copyright  Copyright (c) 2001-2016 Qualiteam software Ltd <info@x-cart.com>
 * @version    3f68edb4b06a5e8ffa772f74caab24df25f6e212, v5 (xcart_4_7_5), 2016-02-18 13:44:28, categoryselector.css, aim
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */
.select2-container--xcart-ui ul li {
  list-style: none;
  border: 1px solid transparent;
}
.select2-container--xcart-ui .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--xcart-ui .select2-selection--single:focus {
  border: 1px solid #535353;
}
.select2-container--xcart-ui .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container--xcart-ui .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}
.select2-container--xcart-ui .select2-selection--single .select2-selection__placeholder {
  color: #999;
}
.select2-container--xcart-ui .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}
.select2-container--xcart-ui .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--xcart-ui[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}
.select2-container--xcart-ui[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}
.select2-container--xcart-ui.select2-container--open .select2-selection--single {
  border: 1px solid #535353;
}
.select2-container--xcart-ui.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}
.select2-container--xcart-ui.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--xcart-ui.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--xcart-ui.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}
.select2-container--xcart-ui .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}
.select2-container--xcart-ui .select2-selection--multiple:focus {
  border: 1px solid #535353;
}
.select2-container--xcart-ui .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 2px 6px 6px 6px;
}
.select2-container--xcart-ui .select2-selection--multiple .select2-selection__clear {
  display: none; }
.select2-container--xcart-ui .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px;
}
.select2-container--xcart-ui .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}
.select2-container--xcart-ui .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}
.select2-container--xcart-ui[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
}
.select2-container--xcart-ui[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--xcart-ui[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}
.select2-container--xcart-ui.select2-container--open .select2-selection--multiple {
  border: 1px solid #535353;
}
.select2-container--xcart-ui.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--xcart-ui.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--xcart-ui .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}
.select2-container--xcart-ui .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
  line-height: 22px;
}
.select2-container--xcart-ui .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}
.select2-container--xcart-ui .select2-dropdown--above {
  border-bottom: none;
}
.select2-container--xcart-ui .select2-dropdown--below {
  border-top: none;
}
.select2-container--xcart-ui .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--xcart-ui .select2-results__option[role=group] {
  padding: 0;
}
.select2-container--xcart-ui .select2-results__option[aria-disabled=true] {
  color: grey;
}
.select2-container--xcart-ui .select2-results__option--highlighted[aria-selected] {
  background-color: #e4e4e4;
  color: #01011D;
  border: 1px solid #aaa;
}
.select2-container--xcart-ui .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container--xcart-ui .select2-results__options--nested {
  padding-left: 3px;
}
.select2-container--xcart-ui.select2-container--open .select2-dropdown {
  border-color: #535353;
}
