/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * Pitney Bowes module admin CSS stylesheet
 *
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Michael Bugrov
 * @version    5d46eb610d03c80bf6c1366bd379bd2b390fc172, v3 (xcart_4_7_4), 2015-10-20 13:54:56, admin.css, mixon
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */

ul.pb-export-type li {
  list-style: none;
}

.pb-shipping-configuration,
.pb-countries-multiselect table,
.pb-countries-multiselect table select {
  width: 100%;
}

.pb-countries-multiselect,
.pb-countries-multiselect table,
.pb-countries-multiselect td {
  padding: 0;
  margin: 0;
}

.pb-countries-multiselect table td:nth-child(1),
.pb-countries-multiselect table td:nth-child(3) {
  width: 45%;
}

.pb-hub-address {
  width: 100%;
  box-sizing: border-box;
}

.pb-print-label-btn,
input.pb-print-label-btn {
  background: url(../../images/printer.gif) 3px 3px no-repeat;
  padding-left: 20px;
}

.pb-delete-parcel-btn,
.pb-delete-parcel-item-btn {
  background: url(../../images/delete_obj.gif) 50% 50% no-repeat;
  border: none;
}

.pb-update-parcel-item-btn {
  background: url(../../images/save.gif) 50% 50% no-repeat;
  border: none;
}

.pb-request-credentials input[type="text"] {
  width: 250px;
}

.pb-request-credentials .pb-field-error input[type="text"] {
  border: solid 1px #ce0000;
  background-color: #ffebeb;
}
