/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * Pitney Bowes module shipping label CSS styles
 *
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Michael Bugrov
 * @version    ee8fb4ea37d363887326bb281100a27746bc181e, v2 (xcart_4_7_4), 2015-10-12 09:49:37, shipping_label.css, mixon
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */
.shipping-label {
  padding: 5px 15px 10px 15px;
  background-color: #fff;
  width: 320px;
  height: 300px;
  border: 1px solid #000;
  position: relative;
  box-sizing: border-box;
}

.shipping-label p, .shipping-label span {
  font-family: 'Arial';
  font-size: 14px;
  box-sizing: border-box;
  line-height: 1.4;
}

.shipping-label .address {
  margin: 30px 0px 20px 0px;
}

.shipping-label .barcode {
  position: absolute;
  bottom: 10px;
  box-sizing: border-box;
}

.shipping-label .barcode p.text {
  font-size: 11px;
  margin-left: 5px;
  text-transform: uppercase;
}
