/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * One page checkout module CSS stylesheet
 *  
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    6f27c8266fc469c8cf1ddac70ea6b7edfdce6489, v40 (xcart_4_7_5), 2016-02-10 23:46:37, main.css, mixon
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */

/**
 * Alternative styles for common elements 
 */

div.opc-container .opc-section h2,
div.opc-container .opc-section h3
{
  color: #617683;
}

div.opc-container label {
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
}

div.opc-container #center-main {
  text-align: left;
  width: 960px;
  margin: 0 auto;
}

div.opc-container h1 {
  font-size: 20px;
}

div.checkout-container h1 {
  font-size: 32px;
}

div.checkout-container span.star {
  padding-left: 5px;
  color: #3385bf;
}

.fill-error label {
  color: #ce0000;
}

div.opc-section-container div.text-block {
  margin: 0 10px;
}

.fill-error .data-value input[type=text],
.fill-error .data-value input[type=password],
.fill-error .data-value select,
.fill-error .data-value textarea
{
  border: solid 1px #ce0000;
  background-color: #ffebeb;
}

div.error-label {
  color: #ce0000;
  font-size: 9px;
  display: none;
}

.fill-error div.error-label {
  display: block;
}

/**
 * Container blocks 
 */
ul#opc-sections {
  margin: 0;
  padding: 0;
  min-width: 1000px;
}

ul#opc-sections li.opc-section {
  text-align: left;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0 25px 50px 0;
  border: 0 none;
  width: 310px;
  min-height: 400px;
  width: 30%;
}

ul#opc-sections li.opc-section h2 {
  font-weight: normal;
  font-size: 24px;
  padding: 7px 0;
  margin: 0;
}

ul#opc-sections li.opc-section h3 {
  font-weight: normal;
  font-size: 18px;
  padding: 7px 0;
  margin: 0;
  border: 0 none;
}

ul#opc-sections li.opc-section div {
  font-size: 12px;
}

ul#opc-sections li.opc-section div.disabled {
  opacity: 0.6;
}

ul#opc-sections li.last {
  margin-right: 0 !important;
}

/**
 * Registration section 
 */
div.opc-authbox {
  margin: 5px 0;
  padding: 0;
  font-size: 12px;
}

div.opc-authbox a {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
}

fieldset.registerform {
  border: 0 none;
  padding: 0;
  margin: 0;
}

fieldset#personal_details {
  background: #f5f5f5;
}

div.opc-section-container {
  padding: 10px 0;
  margin: 0;
  background: #f5f5f5;
  position: relative;
  border: 1px solid transparent;
}

div.opc-section-container.edit-mark {
  border-color: #888;
}

div.opc-section-container div.buttons-box {
  position: absolute;
  top: 5px;
  right: 5px;
}

div.opc-section-container div.text-block {
  margin: 0 10px;
}

div.checkout-container #center input[type=text],
div.checkout-container #center input[type=password],
div.checkout-container #center textarea,
div.checkout-container #center select
{
  font-size: 12px;
  margin: 0px;
  padding: 2px;
  border: solid 1px #bbb;
}

div.checkout-container #center input[type=text]:focus,
div.checkout-container #center input[type=password]:focus,
div.checkout-container #center textarea:focus,
div.checkout-container #center select:focus
{
  font-size: 12px;
  border: solid 1px #999;
}

div.checkout-container #center #personal_details input[type=text],
div.checkout-container #center #personal_details input[type=password]
{
  max-width: 205px;
}

div.checkout-container #center #personal_details select {
  max-width: 211px; // width for <select> includes borders
}

div.checkout-container #center input[type=text],
div.checkout-container #center input[type=password],
div.checkout-container #center select
{
  height: 18px;
}

div.checkout-container #center select {
  height: 24px; // height for <select> includes borders
}

div.checkout-container #center textarea {
  height: auto;
  width: 98%;
}

fieldset.registerform ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset.registerform ul {
  position: relative;
  padding: 0 15px;
  margin: 0;
  background: #f5f5f5;
}

fieldset.registerform ul.first {
  padding-top: 15px;
}

fieldset.registerform ul li {
  padding-bottom: 10px;
}

fieldset.registerform .button-row {
  margin-top: 5px;
  padding-bottom: 15px;
}

fieldset.registerform ul li.clearing {
  padding: 0;
  margin: 0;
}

fieldset.registerform ul li.fields-group {
  float: left;
  margin-right: 10px;
}

fieldset.registerform ul li.fields-group input[type=text],
fieldset.registerform ul li.fields-group input[type=password]
{
  width: 90px;
}

fieldset.registerform ul li.single-field {
  float: none;
  clear: both;
}

fieldset.registerform ul li.single-field input[type=text],
fieldset.registerform ul li.single-field input[type=password]
{
  width: 80%;
}

fieldset.registerform div.oneline {
  float: left;
  margin-right: 10px;
}

li.single-field input.image-button {
  background: transparent url(../../images/button_go.png) no-repeat left top;
  height: 21px;
  width: 23px;
  margin-bottom: 1px;
}


div.optional-label {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.optional-label label {
  font-weight: bold;
  font-size: 11px;
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

div.optional-label label input {
  margin-right: 5px;
  width: 13px;
  height: 13px;
  padding: 0;
  vertical-align: bottom;
  position: relative;
  top: -2px;
}

div.address-book-link {
  height: 35px;
  background: #ecf3f7;
  vertical-align: middle;
  position: relative;
  padding: 5px 0;
  border: 1px solid transparent;
  border-bottom: none;
}

div.address-book-link + div.opc-section-container {
  border-top: none;
}

div.address-book-link.edit-mark {
  border-top-color: #888;
  border-left-color: #888;
  border-right-color: #888;
}

div.address-book-link span.popup-link {
  margin: 10px;
  font-size: 11px;
}

div.address-book-link label {
  margin: 10px;
  font-size: 11px;
  line-height: 16px;
}

div.address-book-link div.buttons-box {
  position: absolute;
  top: 5px;
  right: 5px;
}

div.address-book-content {
  position: relative;
}

div.address-book-content div.buttons-box {
  position: absolute;
  top: 5px;
  right: 5px;
}

.opc-container div.buttons-box a {
  width: 18px;
  height: 18px;
  display: block;
}

.field-container a,
label[for=create_account] a,
label[for=ship2diff] a {
  margin: -2px -2px -5px 5px;
  padding: 0px;
  width: 20px;
  height: 20px;
  display: none;
}

.field-container a.update-profile,
label[for=create_account] a.update-profile,
label[for=ship2diff] a.update-profile
{
  padding: 0 10px 0 25px;
  line-height: 20px;
  background: transparent url(../../images/icon_checked.png) no-repeat left top;
  display: inline-block;
}

label[for=create_account] a.update-profile,
label[for=ship2diff] a.update-profile
{
  padding-left: 40px;
}

.field-container a.restore-value,
label[for=create_account] a.restore-value,
label[for=ship2diff] a.restore-value
{
  background: transparent url(../../images/icon_restore.png) no-repeat left top;
}

div.buttons-box a.edit-profile {
  background: transparent url(../../images/icon_pencil.png) no-repeat left top;
}

div.buttons-box a.cancel-edit {
  background: transparent url(../../images/but_cross.gif) no-repeat left bottom;
  width: 13px;
  height: 13px;
  margin: 5px 5px;
}

#ship2diff_box a.cancel-edit {
  display: none;
}

input.value-is-changed,
input.value-is-changed:focus,
select.value-is-changed,
select.value-is-changed:focus
{
  background-color: #fcfcdd;
}

ul#opc-sections li.opc-section div.opc-checkout-profile h3 {
  padding: 7px;
}

div.opc-checkout-profile div.address-line {
  font-size: 12px;
  padding: 0 7px;
}

ul#opc-sections li.opc-section div.news-register-item-descr {
  font-size: 10px;
  font-style: italic;
}

button.update-profile:disabled {
  cursor: not-allowed;
}

/**
 * Shipping and payment section 
 */
.checkout-payments tr td { 
  padding: 5px; 
  vertical-align: top; 
  border-bottom: solid 2px #fff;
}

.checkout-payments tr td table tr td {
  border-bottom: 0;
}
.checkout-payments tr td.checkout-payment-name { 
  width: 100%; 
  padding-right: 10px;
  white-space: normal;
}

.checkout-payments tr td.checkout-payment-name label {
  font-weight: bold;
}

.checkout-payments tr td div.checkout-payment-descr {
  width: 80%;
}

.checkout-payments tr td.checkout-payment-paypal {
  width: 100%;
}

.checkout-payments tr td.checkout-payment-paypal img {
  border: 0 none;
}

.checkout-payments tr.payment-details td { 
  background: #fff;
  margin: 0;
  padding: 10px;
} 

.checkout-payment-name span.applied-gc {
  font-weight: normal;
  color: #01851a;
}

.checkout-shippings {
  width: 100%;
}

.checkout-shippings tr td { 
  padding: 5px 10px 5px 0; 
  border-bottom: solid 2px #fff;
  vertical-align: top;
  font-size: 11px;
}

.checkout-shippings tr.last td { 
  border-bottom: 0 none;
}  

.checkout-shippings tr td label { 
  font-size: 11px;
  line-height: 14px;
}

.checkout-shippings tr td.shipping-name { 
  width: 80%;
}

.checkout-shippings tr td.shipping-cost { 
  width: 20%;
  text-align: right;
}

.opc-payment-options fieldset.registerform ul {
  background: 0;
}

/**
 * Summary section 
 */
div.coupon-info a.unset-coupon-link {
  margin-left: 10px;
}

div.coupon-info p {
  font-size: 9px;
}

div.coupon-info div.progress {
  background: transparent url(../../images/progress.gif) repeat-x left 10px;
  height: 20px;
  margin: 0 15%;
}

div#couponform {
  height: 20px;
}

div.coupon-info input.image-button {
  background: transparent url(../../images/button_go.png) no-repeat left top;
  height: 21px;
  width: 23px;
  margin-bottom: 1px;
}

div.cart-totals {
  margin: 10px 0;
  padding: 0;
}

div.cart table.totals {
  margin: 0 0 0 auto;
  text-align: right;
  width: 30%;
}

table.totals tr td.total,
table.totals tr td.total-name,
table.totals tr td.total-value,
table.totals tr td.total-value-alt,
table.totals span.total-name
{
  font-weight: bold;
  text-transform: none;
  padding: 5px 5px 5px 0;
  font-size: 12px;
  vertical-align: top;
}

#opc_summary table.totals {
  text-align: left;
  width: 100%;
}

#opc_summary table.totals tr td.total,
#opc_summary table.totals tr td.total-name,
#opc_summary table.totals tr td.total-value,
#opc_summary table.totals tr td.total-value-alt,
#opc_summary table.totals span.total-name
{
  width: 15%;
  font-weight: normal;
  vertical-align: baseline;
}

#opc_summary table.totals tr td.total,
#opc_summary table.totals tr td.total-name
{
  width: 70%;
}

table.totals tr td.discounted {
  color: #01851a;
}

table.totals tr.total td.total-name {
  font-size: 22px;
}

table.totals tr.total td.total-value {
  font-size: 22px;
}

table.totals tr.total td.total-value-alt {
  font-size: 12px;
  vertical-align: bottom;
}

table.cart-content tr td {
  font-size: 10px;
  font-weight: normal;
  border-bottom: solid 1px #888;
  padding: 10px 5px;
  vertical-align: top;
}

table.cart-content .cart-content-text {
  font-weight: normal;
  color: #2c3e49;
}

div#order-taxes-box {
  padding: 10px 5px;
}

div.checkout-customer-notes,
div.checkout-partner,
div.terms_n_conditions
{
  padding: 0px 0;
}

div.terms_n_conditions {
  text-align: center;
}

div.terms_n_conditions label {
  font-size: 13px;
}

button.inactive {
  opacity: .3;
  filter:Alpha(Opacity=30);
  cursor: default;
}

div.paypal-express-sel-note {
  padding: 0 10px;
}

#opc_payment {
  margin-bottom: 20px;
}

#opc_shipping {
  margin-bottom: 20px;
}

ul#opc-sections li.opc-section fieldset h3 {
  margin-top: 5px;
  margin-bottom: -10px;
  margin-left: 15px;
}

#show_coupon_code {
  border-bottom: 1px dotted;
  color: inherit;
  text-decoration: none;
}

div.checkout-customer-notes {
  margin-bottom: 12px;
}
