//Screen sizes

@screen-xs:                  480px;
@screen-sm:                  768px;
@screen-md:                  960px; // max width without changes
@screen-lg:                  1200px;


.trans(@time){
  -webkit-transition: @time;
  -moz-transition: @time;
  -ms-transition: @time;
  -o-transition: @time;
  transition: @time;
}

.clearfix(){
  clear: both;
  &:before, &:after{
    content: '';
    display: table;
    clear: both;
  }
}
.clearfix-cancel(){
  clear: none !important;
  &:before, &:after{
    content: none;
    display: none;
    clear: none;
  }
}
.autopos(){
  position: relative;
  margin-right: auto;
  margin-left: auto;
}


.img-container-autopos(){//div.product-photo
  .flexbox() !important;
  .align-items(center);
}

.img-link-autopos(){ //div.product-photo > a.product-thumbnail
  display: inline-block;
  text-align: center;
  margin: auto !important;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
}
.img-autopos(){//a.product-thumbnail > img
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: auto !important;
}



.text-ellipsis(@font-size, @line-height, @lines-to-show){
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 100%;
  height: @font-size*@line-height*@lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: @font-size;
  line-height: @line-height;
  -webkit-line-clamp: @lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transform(@property){
  -moz-transform: @property; /* Для Firefox */
  -ms-transform: @property; /* Для IE */
  -webkit-transform: @property; /* Для Safari, Chrome, iOS */
  -o-transform: @property; /* Для Opera */
  transform: @property;
}

// Placeholder text

.placeholder(@color, @fsz, @font-style: normal, @font-weight: normal) {
  &::-moz-placeholder{
    color: @color;
    font-weight: @font-weight;
    font-size: @fsz;
    font-style: @font-style;
    opacity: 1; }
  &:-ms-input-placeholder{
    color: @color;
    font-size: @fsz;
    font-weight: @font-weight;
    font-style: @font-style;
  }
  &::-webkit-input-placeholder{
    color: @color;
    font-size: @fsz;
    font-weight: @font-weight;
    font-style: @font-style;
  }
}

// Vertical gradient, from top to bottom

.vertical(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down
}
.horizontal(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
  background-image: -webkit-linear-gradient(left, @start-color @start-percent, @end-color @end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down
}


.calc(@prop; @val) {
  @{prop}: calc(~'@{val}');
  @{prop}: -moz-calc(~'@{val}');
  @{prop}: -webkit-calc(~'@{val}');
  @{prop}: -o-calc(~'@{val}');
}

// FLEX
// ----> TO PARENT
.flexbox() {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

//  flex-flow: <‘flex-direction’> || <‘flex-wrap’>
.flex-flow(@value){
  -webkit-flex-flow: @value;
  -moz-flex-flow: @value;
  -ms-flex-flow: @value;
  flex-flow: @value;
}

// flex-wrap: nowrap | wrap | wrap-reverse
// nowrap (default):   single-line which may cause the container to overflow
// wrap:               multi-lines, direction is defined by flex-direction
// wrap-reverse:       multi-lines, opposite to direction defined by flex-direction
.flex-wrap(@value){
  -webkit-flex-wrap: @value;
  -moz-flex-wrap: @value;
  -ms-flex-wrap: @value;
  flex-wrap: @value;
}

// flex-direction: row | row-reverse | column | column-reverse;
// row (default):      same as text direction
// row-reverse:        opposite to text direction
// column:             same as row but top to bottom
// column-reverse:     same as row-reverse top to bottom

// @axe: horizontal (row) | vertical (column);
.flex-direction(@value, @axe){
  -ms-flex-direction: @value;
  -webkit-flex-direction: @value;
  flex-direction: @value;

  -webkit-box-orient: @axe;
  -moz-box-orient: @axe;
}

// align-items: flex-start | flex-end | center | baseline | stretch;
// flex-start:          cross-start margin edge of the items is placed on the cross-start line
// flex-end:            cross-end margin edge of the items is placed on the cross-end line
// center:              items are centered in the cross-axis
// baseline:            items are aligned such as their baselines align
// stretch (default):   stretch to fill the container (still respect min-width/max-width)
.align-items(@value){
  -webkit-box-align: @value;
  -moz-box-align: @value;
  -ms-flex-align: @value;
  -webkit-align-items: @value;
  align-items: @value;
}

.align-self(@value){
  -webkit-align-self: @value;
  -moz-align-self: @value;
  -ms-flex-item-align: @value;
  align-self: @value;
}
// justify-content: flex-start | flex-end | center | space-between | space-around;
//flex-start (default):    items are packed toward the start line
//flex-end:                items are packed toward to end line
//center:                  items are centered along the line
//space-between:           items are evenly distributed in the line; first item is on the start line, last item on the end line
//space-around:            items are evenly distributed in the line with equal space around them
.justify-content(@value){
  -webkit-box-pack: @value;
  -moz-box-pack: @value;
  -ms-flex-pack: @value;
  -webkit-justify-content: @value;
  -moz-justify-content: @value;
  -ms-justify-content: @value;
  justify-content: @value;
}

// ----> TO CHILD
// flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
// default value: 0 1 auto.
.flex(@values) {
  -webkit-box-flex: @values;
  -moz-box-flex:  @values;
  -webkit-flex:  @values;
  -ms-flex:  @values;
  flex:  @values;
}

//  order: <integer>;
.order(@value) {
  -webkit-box-ordinal-group: @value;
  -moz-box-ordinal-group: @value;
  -ms-flex-order: @value;
  -webkit-order: @value;
  order: @value;
}