@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-widget,
.ui-widget *,
.ui-dialog,
.ui-dialog *,
li.address-box,
li.address-box *,
#colorbox,
#colorbox * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
html,
body {
  background: url("../images/redesign/bg.jpeg");
  color: #333333;
}
body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  font-size: 14px;
  color: #3f3f3f;
  line-height: 2em;
  font-weight: 600;
}
#center,
.wrapper-box,
.breadcrumbs {
  width: 1170px;
  max-width: 100%;
  margin: auto;
  right: auto;
  left: auto;
  float: none;
}
#center {
  padding: 0 20px 50px;
  clear: both;
}
#center:before,
#center:after {
  content: '';
  display: table;
  clear: both;
}
hr {
  border-bottom-color: #E8CF8F;
}
@media (min-width: 960px) {
  .desktop-hidden {
    display: none !important;
  }
}
#page-container {
  background: rgba(255, 253, 224, 0.5);
}
@media screen and (max-width: 767px) {
  #page-container2,
  .wrapper-box {
    padding-right: 0;
    padding-left: 0;
  }
}
.data-table td.data-name,
label {
  color: #952B3F;
  font-weight: 600 !important;
}
#header {
  min-height: 138px;
  background: url("../images/redesign/bg.jpeg");
  height: auto;
  position: relative !important;
  border-top: 18px solid #952B3F;
  z-index: 1001;
}
#header > .wrapper-box {
  position: static;
  top: -60px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
#header > .wrapper-box.fixed {
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
#header > .wrapper-box > .inner-container {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
#header > .wrapper-box > .inner-container.fixed {
  position: fixed;
  top: 0;
}
#header .logo {
  width: 285px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 120px;
  max-height: 120px;
  padding: 12px 15px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
#header .logo a {
  display: inline-block;
  max-width: 281px;
  width: 281px;
  min-width: 100%;
}
@media (min-width: 1023px) {
  #header .logo {
    max-width: calc(100% - 863px);
    max-width: -moz-calc(100% - 863px);
    max-width: -webkit-calc(100% - 863px);
    max-width: -o-calc(100% - 863px);
  }
  #header .logo a {
    max-width: calc(100% - 839px);
    max-width: -moz-calc(100% - 839px);
    max-width: -webkit-calc(100% - 839px);
    max-width: -o-calc(100% - 839px);
  }
}
@media (max-width: 1024px) and (min-width: 960px) {
  #header .logo {
    max-width: calc(100% - 816px);
    max-width: -moz-calc(100% - 816px);
    max-width: -webkit-calc(100% - 816px);
    max-width: -o-calc(100% - 816px);
  }
  #header .logo a {
    max-width: calc(100% - 792px);
    max-width: -moz-calc(100% - 792px);
    max-width: -webkit-calc(100% - 792px);
    max-width: -o-calc(100% - 792px);
  }
}
@media (max-width: 959px) {
  #header .logo {
    max-width: calc(100% - 120px);
    max-width: -moz-calc(100% - 120px);
    max-width: -webkit-calc(100% - 120px);
    max-width: -o-calc(100% - 120px);
  }
  #header .logo a {
    max-width: calc(100% - 96px);
    max-width: -moz-calc(100% - 96px);
    max-width: -webkit-calc(100% - 96px);
    max-width: -o-calc(100% - 96px);
  }
}
#header .logo img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
#header .wrapper-box.fixed {
  width: 100%;
  height: 56px;
  background: #F8F6DA;
}
#header .wrapper-box.fixed .logo {
  width: 125px;
  max-height: 56px;
  padding: 12px 15px;
}
#content-container,
.error-page #content-container,
.checkout-container #content-container,
.printable #content-container {
  margin-top: 0;
}
#multilevelmenu {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.multilevel-menu {
  background: transparent;
}
.multilevel-menu > ul {
  margin: 0;
  font-size: 0;
}
.multilevel-menu > ul.multilevel-menu-level-0 {
  padding-left: 0;
}
@media (max-width: 959px) {
  .multilevel-menu > ul.multilevel-menu-level-0 {
    display: none;
  }
}
.multilevel-menu > ul > li {
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
}
.multilevel-menu > ul > li > a,
.multilevel-menu > ul > li > span {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  color: #000000;
  min-width: 0;
  padding: 0 10px;
  text-decoration: none !important;
  font-size: 13px;
  line-height: 120px;
  font-weight: 600;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 1024px) and (min-width: 960px) {
  .multilevel-menu > ul > li > a,
  .multilevel-menu > ul > li > span {
    font-size: 12px;
  }
}
.multilevel-menu > ul > li > a:after,
.multilevel-menu > ul > li > span:after {
  content: '';
  border-width: 4px;
  border-color: transparent transparent #e8cf8f;
  border-style: solid;
  display: block;
  right: 50%;
  bottom: 40px;
  margin-right: -2px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.multilevel-menu > ul > li > a:before,
.multilevel-menu > ul > li > span:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #e8cf8f;
  right: 0;
  bottom: 38px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.multilevel-menu > ul > li > a.has-sublevel:after,
.multilevel-menu > ul > li > span.has-sublevel:after {
  border-color: #e8cf8f transparent transparent;
  bottom: 40px;
}
.multilevel-menu > ul > li > span {
  cursor: default;
}
.multilevel-menu > ul > li:hover > a,
.multilevel-menu > ul > li:hover > span {
  color: #952B3F;
}
.multilevel-menu > ul > li:hover > a:before,
.multilevel-menu > ul > li:hover > span:before,
.multilevel-menu > ul > li:hover > a:after,
.multilevel-menu > ul > li:hover > span:after {
  opacity: 1;
  visibility: visible;
}
.multilevel-menu > ul > li:hover > a.has-sublevel,
.multilevel-menu > ul > li:hover > span.has-sublevel {
  background: #F8F6DA;
}
.multilevel-menu > ul > li:hover > a.has-sublevel:before,
.multilevel-menu > ul > li:hover > span.has-sublevel:before {
  display: none;
}
.multilevel-menu > ul > li:hover > ul {
  margin-top: 0;
}
.multilevel-menu > ul > li ul {
  min-width: 200px;
  margin-top: 10px;
  width: auto;
  padding: 0;
  background: #F8F6DA;
  text-align: left;
}
@media (min-width: 960px) {
  .multilevel-menu > ul > li ul {
    border-bottom: 5px solid #e8cf8f;
  }
}
.multilevel-menu > ul > li ul li {
  border: none;
  width: 100%;
  background: transparent;
  padding: 0;
  margin: 0;
}
@media (min-width: 960px) {
  .multilevel-menu > ul > li ul li:hover > ul {
    opacity: 1;
    visibility: visible;
  }
}
.multilevel-menu > ul > li ul li:hover > a,
.multilevel-menu > ul > li ul li:hover > span {
  color: #952B3F;
  background: rgba(0, 0, 0, 0.1);
}
@media (min-width: 960px) {
  .multilevel-menu > ul > li ul li:hover > a,
  .multilevel-menu > ul > li ul li:hover > span {
    color: #952B3F;
    background: rgba(0, 0, 0, 0.1);
  }
  .multilevel-menu > ul > li ul li:hover > a:before,
  .multilevel-menu > ul > li ul li:hover > span:before {
    border-color: transparent transparent transparent #952B3F;
    left: 10px;
    opacity: 1;
    visibility: visible;
  }
}
.multilevel-menu > ul > li ul li > a,
.multilevel-menu > ul > li ul li > span {
  border: none;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none !important;
  background: transparent;
  color: #000000;
  padding: 10px 20px;
  -webkit-transition: ease 200ms;
  -moz-transition: ease 200ms;
  -ms-transition: ease 200ms;
  -o-transition: ease 200ms;
  transition: ease 200ms;
}
.multilevel-menu > ul > li ul li > a:before,
.multilevel-menu > ul > li ul li > span:before {
  content: '';
  border-width: 4px;
  border-color: transparent transparent transparent #e8cf8f;
  border-style: solid;
  display: block;
  top: 50%;
  left: 0;
  margin-top: -4px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: ease 300ms;
  -moz-transition: ease 300ms;
  -ms-transition: ease 300ms;
  -o-transition: ease 300ms;
  transition: ease 300ms;
}
.multilevel-menu > ul > li ul li ul {
  visibility: visible;
  opacity: 1;
  position: relative;
}
@media (min-width: 960px) {
  .multilevel-menu > ul > li ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
}
.multilevel-menu > ul > li > ul {
  margin-top: 40px;
  -webkit-transition: ease 300ms;
  -moz-transition: ease 300ms;
  -ms-transition: ease 300ms;
  -o-transition: ease 300ms;
  transition: ease 300ms;
}
.multilevel-menu > ul > li > ul:before {
  content: '';
  height: 16px;
  background: transparent;
  width: 100%;
  display: block;
  position: absolute;
  top: -16px;
  left: 0;
  text-align: left;
}
.multilevel-menu > ul.nav {
  font-size: 0;
  min-width: 80px;
}
.multilevel-menu > ul.nav > li.dropdown {
  width: 40px;
}
@media (max-width: 959px) {
  .multilevel-menu > ul.nav > li.dropdown {
    position: static;
  }
}
.multilevel-menu > ul.nav > li.dropdown .dropdown.open .dropdown-toggle,
.multilevel-menu > ul.nav > li.dropdown .dropdown-toggle:hover,
.multilevel-menu > ul.nav > li.dropdown .dropdown-toggle:focus,
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu {
  background: transparent;
  border: none;
  color: #952B3F;
  right: 0;
  left: auto;
}
@media (min-width: 960px) {
  .multilevel-menu > ul.nav > li.dropdown .dropdown.open .dropdown-toggle,
  .multilevel-menu > ul.nav > li.dropdown .dropdown-toggle:hover,
  .multilevel-menu > ul.nav > li.dropdown .dropdown-toggle:focus,
  .multilevel-menu > ul.nav > li.dropdown .dropdown-menu {
    display: block !important;
  }
}
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
@media (max-width: 959px) {
  .multilevel-menu > ul.nav > li.dropdown .dropdown-menu {
    width: 100%;
  }
}
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu > ul {
  max-height: 85vh;
  margin-top: 40px;
  -webkit-transition: ease 300ms;
  -moz-transition: ease 300ms;
  -ms-transition: ease 300ms;
  -o-transition: ease 300ms;
  transition: ease 300ms;
}
@media (min-width: 960px) {
  .multilevel-menu > ul.nav > li.dropdown .dropdown-menu > ul {
    opacity: 0;
    visibility: hidden;
  }
}
@media (max-width: 959px) {
  .multilevel-menu > ul.nav > li.dropdown .dropdown-menu > ul {
    opacity: 1;
    visibility: visible;
    position: relative;
    margin-top: 0;
  }
}
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu#main-menu-box > ul {
  overflow-y: scroll;
}
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu#main-menu-box span.toggle-button {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  display: block;
  top: 0;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  padding: 0;
  color: #888;
  font-size: 20px;
  line-height: 40px;
}
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu#main-menu-box span.toggle-button:before {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  margin: auto;
  border: none;
  visibility: visible;
  opacity: 1;
}
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu#main-menu-box ul li ul {
  margin: 0;
  padding-left: 15px;
}
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu#main-menu-box ul li > ul {
  display: none;
}
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu#main-menu-box ul li.collapsed > span.toggle-button:before {
  content: "\f105";
}
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu#main-menu-box ul li.collapsed > ul {
  opacity: 0;
  height: 0;
}
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu#main-menu-box ul li.expanded > span.toggle-button:before {
  content: "\f107";
}
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu#main-menu-box ul li.expanded > ul {
  opacity: 1;
  height: auto;
}
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu#main-menu-box ul li:hover > a,
.multilevel-menu > ul.nav > li.dropdown .dropdown-menu#main-menu-box ul li:hover > span {
  background: transparent;
}
@media (min-width: 960px) {
  .multilevel-menu > ul.nav > li.dropdown:hover .dropdown-menu > ul {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
  }
}
.multilevel-menu > ul.nav > li {
  width: 40px;
  height: 120px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  margin: 0;
  vertical-align: middle;
  text-align: center;
}
.multilevel-menu > ul.nav > li > a {
  line-height: 120px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  padding: 0 13px;
  background: transparent;
}
.multilevel-menu > ul.nav > li > a:before,
.multilevel-menu > ul.nav > li > a:after {
  display: none;
}
.multilevel-menu > ul.nav > li > a .fa {
  line-height: 120px;
  font-size: 17px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.multilevel-menu > ul.nav .menu-minicart {
  margin: 0 !important;
  padding: 0;
  float: none !important;
  background: transparent;
  border: none;
  position: relative !important;
}
.multilevel-menu > ul.nav .menu-minicart .title-bar {
  float: none;
  margin: 0;
}
.multilevel-menu > ul.nav .menu-minicart .icon {
  background: transparent none;
  height: auto;
  padding: 0 10px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  width: auto;
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 120px;
  color: #000;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.multilevel-menu > ul.nav .menu-minicart .icon.minicart-button-show {
  color: #952B3F;
}
.multilevel-menu > ul.nav .menu-minicart .icon.minicart-button-show:after {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
}
.multilevel-menu > ul.nav .menu-minicart .icon:before {
  content: "\f07a";
}
.multilevel-menu > ul.nav .menu-minicart .content {
  display: none;
}
#header .minicart-box {
  top: 100% !important;
}
.minicart-box {
  border: none;
  padding: 10px;
  box-shadow: none;
  background: #F8F6DA;
  border-bottom: 5px solid #e8cf8f;
  border-radius: 0;
}
.minicart-box ul.cart-items {
  position: relative;
  width: auto;
  display: block !important;
  opacity: 1;
  visibility: visible;
  border: none;
}
.minicart-box ul.cart-items li .price-row > * {
  vertical-align: middle;
}
.minicart-box ul.cart-items li:hover > a,
.minicart-box ul.cart-items li:hover > span {
  background: transparent;
}
.minicart-box ul.cart-items li:hover > a:before,
.minicart-box ul.cart-items li:hover > span:before {
  display: none;
}
.wrapper-box.fixed .multilevel-menu > ul.nav .menu-minicart .icon {
  height: 56px;
  line-height: 56px;
}
.wrapper-box.fixed .multilevel-menu > ul.nav > li,
.wrapper-box.fixed .multilevel-menu > ul > li {
  height: 56px;
}
.wrapper-box.fixed .multilevel-menu > ul.nav > li > a,
.wrapper-box.fixed .multilevel-menu > ul > li > a,
.wrapper-box.fixed .multilevel-menu > ul.nav > li > span,
.wrapper-box.fixed .multilevel-menu > ul > li > span {
  line-height: 56px;
}
.wrapper-box.fixed .multilevel-menu > ul.nav > li > a:before,
.wrapper-box.fixed .multilevel-menu > ul > li > a:before,
.wrapper-box.fixed .multilevel-menu > ul.nav > li > span:before,
.wrapper-box.fixed .multilevel-menu > ul > li > span:before,
.wrapper-box.fixed .multilevel-menu > ul.nav > li > a:after,
.wrapper-box.fixed .multilevel-menu > ul > li > a:after,
.wrapper-box.fixed .multilevel-menu > ul.nav > li > span:after,
.wrapper-box.fixed .multilevel-menu > ul > li > span:after {
  display: none;
}
.wrapper-box.fixed .multilevel-menu > ul.nav > li > a .fa,
.wrapper-box.fixed .multilevel-menu > ul > li > a .fa,
.wrapper-box.fixed .multilevel-menu > ul.nav > li > span .fa,
.wrapper-box.fixed .multilevel-menu > ul > li > span .fa {
  height: 56px;
  line-height: 56px;
}
#footer {
  background: url("../images/redesign/footer-top.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: none;
  position: relative !important;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  width: 100%;
}
#footer .box {
  min-height: 0;
  padding: 0;
  background: transparent;
}
#footer .box:last-of-type {
  background: url("../images/redesign/bg.jpeg");
}
#footer .box:last-of-type > .wrapper-box {
  font-size: 14px;
  color: #952B3F;
  font-weight: 600;
}
@media (min-width: 1024px) {
  #footer .box:last-of-type > .wrapper-box {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
#footer .box:last-of-type > .wrapper-box .copyright {
  margin: 0;
  line-height: 38px;
}
@media (max-width: 1023px) {
  #footer .box:last-of-type > .wrapper-box .copyright {
    margin: auto;
    float: none;
    width: 100%;
    text-align: center;
  }
}
#footer .box:last-of-type > .wrapper-box > ul {
  margin: 0;
  line-height: 38px;
  text-align: right;
}
@media (max-width: 1023px) {
  #footer .box:last-of-type > .wrapper-box > ul {
    margin: auto;
    float: none;
    width: 100%;
    text-align: center;
  }
}
#footer .box:last-of-type > .wrapper-box > ul > li {
  list-style: none;
  display: inline-block;
}
#footer .box:last-of-type > .wrapper-box > ul > li:after {
  content: '|';
  margin: auto 10px;
}
#footer .box:last-of-type > .wrapper-box > ul > li:last-of-type:after {
  display: none;
}
#footer .box:last-of-type > .wrapper-box > ul > li a {
  color: #952B3F;
  text-decoration: none;
}
#footer .box:last-of-type > .wrapper-box > ul > li a:hover {
  color: #000;
}
#footer .box:last-of-type > .wrapper-box > ul > li ul {
  display: none !important;
}
@media (max-width: 767px) {
  .col-xs-12 {
    width: 100%;
    float: none;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 960px) {
  .col-md-3 {
    width: 25%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-3 {
    width: 25%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.right_media {
  float: left;
  margin-left: 20px;
}
.cs-social li {
  line-height: 28px;
  display: inline-block;
}
.cs-social li a {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}
.cs-social li + li {
  margin-left: 15px;
}
.footer-top {
  clear: both;
  line-height: 2em;
  text-shadow: 0 0 5px #000;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 0;
  font-weight: 600;
}
.footer-top:before,
.footer-top:after {
  content: '';
  display: table;
  clear: both;
}
.footer-top a {
  color: #ffffff;
}
.footer-top h3.wg-title {
  font-size: 16px;
  letter-spacing: 0;
  color: #ffffff;
}
.footer-top .news-signup input {
  background: #fff;
  border: 1px solid #ececec;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-indent: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #020202 !important;
}
.footer-top .news-signup button {
  background-color: #020000;
  color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: normal;
  font-weight: 600;
  text-transform: uppercase;
  padding: 11px 14px 10px 14px;
}
.main-title {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 185px;
  display: table;
  position: relative;
  padding: 15px 0;
  margin-bottom: 50px;
}
.main-title h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #e8cf8f;
  font-size: 60px;
  height: 155px;
  font-weight: 600;
  margin: auto;
  position: relative;
}
@media (max-width: 767px) {
  .main-title h1 {
    font-size: 40px;
  }
}
.main-title:before {
  content: '';
  width: 100%;
  top: 15px;
  left: 0;
  position: absolute;
  height: calc(100% - 30px);
  height: -moz-calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  height: -o-calc(100% - 30px);
  background: rgba(0, 0, 0, 0.5);
}
.welcome {
  margin-bottom: 45px;
}
.cats {
  clear: both;
  margin-right: -20px;
}
.cats:before,
.cats:after {
  content: '';
  display: table;
  clear: both;
}
.cats > div {
  padding: 0 0 30px;
}
@media (min-width: 768px) {
  .cats > div {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
  .cats > div .cat-image {
    min-width: 230px;
  }
  .home-container .cats > div .cat-image {
    min-width: 300px;
  }
  .cats > div .cat-info {
    border-left: 50px solid transparent;
    min-width: calc(100% - 300px);
    min-width: -moz-calc(100% - 300px);
    min-width: -webkit-calc(100% - 300px);
    min-width: -o-calc(100% - 300px);
  }
}
.cats > div:last-of-type {
  padding: 0;
}
.cats > div .cat-image img {
  border: 1px solid #333333;
  padding: 5px;
  max-width: 100%;
  width: 300px;
  height: auto;
}
.cats > div .cat-image img.subcat-img {
  width: 200px;
}
.cats > div .cat-info {
  text-align: left;
}
.cats > div .cat-info .cat-title {
  text-transform: uppercase;
  font-size: 26px;
  margin: 15px 0;
  color: #333333;
  display: block;
}
.cats > div .cat-info .cat-title:hover {
  text-decoration: none;
}
.cats > div .cat-info .cat-button {
  display: inline-block;
  color: #2a2a2a;
  border: 2px solid #2a2a2a;
  padding: 13px 19px;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 35px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
}
.cats > div .cat-info .cat-button:hover {
  background: #2a2a2a;
  color: #ffffff;
  text-decoration: none;
}
.ui-widget-content .products.products-div {
  clear: both;
  padding: 0;
}
.ui-widget-content .products.products-div:before,
.ui-widget-content .products.products-div:after {
  content: '';
  display: table;
  clear: both;
}
.products-div .item-box {
  background: #F8F6DA;
  border-color: #F8F6DA;
}
.products-div .item-box .product-title {
  color: #333333;
}
.products-div .item-box .product-title:hover {
  text-decoration: none;
  color: #952B3F;
}
.products-list {
  background: #F8F6DA;
  padding: 0 30px;
}
@media (max-width: 767px) {
  .products-list {
    padding: 0 20px 20px;
  }
}
.products-list .item {
  border-bottom: 1px solid #a7a699;
  background: #F8F6DA;
  margin: 0;
  padding: 30px;
}
@media (max-width: 767px) {
  .products-list .item {
    padding: 30px 0;
  }
}
.products-list .item:last-of-type {
  border: none;
}
.products-list .item .product-title {
  color: #333333;
  text-transform: uppercase;
}
.products-list .item .product-title:hover {
  text-decoration: none;
  color: #952B3F;
}
@media (max-width: 767px) {
  .products-list .item .image {
    max-width: 100%;
    float: none;
    text-align: center;
    margin: 0 0 10px;
    padding: 0;
  }
  .products-list .item .image .image-wrapper {
    max-width: 100%;
  }
  .products-list .item .image .image-wrapper a {
    max-width: 100%;
  }
  .products-list .item .image .image-wrapper a img {
    max-width: 100%;
    height: auto;
  }
  .products-list .item .details {
    width: 100%;
    padding: 0;
    float: none;
    margin: 20px 0 0 0 !important;
  }
}
.products-list.simple-products-div .item {
  padding: 0;
  border: none;
}
.price-value,
.products .price-value,
.pconf-price-row .price-value,
table.product-properties .product-price-value,
.totals .total-value {
  color: #952B3F;
}
.products {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 30px;
}
.navigation-bar.simple-list-left {
  margin-bottom: -28px;
  padding-right: 35px;
  background: #F8F6DA;
}
.navigation-bar.simple-list-left .item-left {
  float: right;
}
.navigation-bar.simple-list-left .item-right {
  line-height: 30px;
}
.nav-pages {
  margin-left: 10px;
}
.nav-pages span.right-delimiter,
.nav-pages a.right-delimiter,
.nav-pages > a:last-child {
  padding: 0 8px;
  border: 1px solid #5D5D5D;
  color: #5D5D5D;
}
.nav-pages span.right-delimiter.current-page,
.nav-pages a.right-delimiter.current-page,
.nav-pages > a:last-child.current-page {
  color: #ffffff;
}
.nav-pages span.right-delimiter.current-page:hover,
.nav-pages a.right-delimiter.current-page:hover,
.nav-pages > a:last-child.current-page:hover {
  color: #ffffff;
  border-color: #5D5D5D;
}
.nav-pages span.right-delimiter:hover,
.nav-pages a.right-delimiter:hover,
.nav-pages > a:last-child:hover {
  border: 1px solid #952B3F;
  color: #952B3F;
}
.nav-pages .current-page {
  color: #ffffff;
  padding: 0 8px;
  border-color: #5D5D5D;
  background: #5D5D5D;
}
.nav-pages .current-page:hover {
  border-color: #5D5D5D;
}
.nav-pages .left-arrow,
.nav-pages .right-arrow {
  background: transparent none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 28px;
}
.nav-pages .left-arrow:after,
.nav-pages .right-arrow:after {
  display: none;
}
.nav-pages .right-arrow:before {
  content: "\f105";
}
.nav-pages .left-arrow:before {
  content: "\f104";
}
.products-dialog .title {
  margin-bottom: 0;
  background: #F8F6DA;
  border: none;
  padding: 20px 30px 0;
}
@media (max-width: 767px) {
  .products-dialog .title {
    padding: 20px 20px 0;
  }
}
.products-dialog .title h2 {
  color: #333333;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .list-dialog .title h2 {
    float: none;
  }
  .list-dialog .title div.sort-box {
    float: none;
    margin-left: -8px;
  }
  .navigation-bar.simple-list-left {
    padding-left: 20px;
  }
  .navigation-bar.simple-list-left .item-right {
    float: left;
  }
}
a.search-sort-link {
  color: #333333;
}
.search-sort-bar a.up-direction,
.search-sort-bar a.down-direction {
  background-color: #952B3F;
}
.products + .navigation-bar {
  margin: -40px 0 0;
  width: auto;
  float: right;
  padding: 0 10px 0 0;
  border-top: none;
  position: relative;
}
.breadcrumbs {
  padding: 0 20px;
  margin: -30px auto 0;
}
@media (min-width: 480px) {
  .breadcrumbs {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
}
.breadcrumbs a.bread-crumb:hover {
  text-decoration: none;
}
.breadcrumbs span.bread-crumb {
  color: #333333;
  cursor: default;
}
.breadcrumbs #location {
  color: #952B3F;
}
.breadcrumbs #location > a:first-child {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  background: #952B3F;
  color: #ffffff;
}
.breadcrumbs #location > a:first-child:hover {
  background: #333;
  color: #ffffff;
}
.breadcrumbs #location > a:first-child:before {
  content: "\f015";
  background: none transparent;
}
.dpimages-icons-box {
  background: #F8F6DA;
}
.product-properties .product-options {
  background-color: transparent;
  padding: 0;
}
#top-links,
#product-tabs-container {
  background: transparent;
}
#top-links.ui-widget-content,
#product-tabs-container.ui-widget-content {
  border-color: transparent;
}
#top-links .ui-widget-header .ui-state-default,
#product-tabs-container .ui-widget-header .ui-state-default {
  background: #F8F6DA;
  border-color: #F8F6DA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 0;
}
#top-links .ui-widget-header .ui-state-default > a,
#product-tabs-container .ui-widget-header .ui-state-default > a {
  color: #333;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
#top-links .ui-widget-header .ui-state-default.ui-state-hover,
#product-tabs-container .ui-widget-header .ui-state-default.ui-state-hover,
#top-links .ui-widget-header .ui-state-default:hover,
#product-tabs-container .ui-widget-header .ui-state-default:hover {
  background: #e8cf8f;
  border-color: #e8cf8f;
  margin-bottom: 0;
}
#top-links .ui-widget-header .ui-state-default.ui-state-active,
#product-tabs-container .ui-widget-header .ui-state-default.ui-state-active,
#top-links .ui-widget-header .ui-state-default.ui-state-active.ui-state-hover,
#product-tabs-container .ui-widget-header .ui-state-default.ui-state-active.ui-state-hover,
#top-links .ui-widget-header .ui-state-default.ui-state-active:hover,
#product-tabs-container .ui-widget-header .ui-state-default.ui-state-active:hover {
  background: #333333;
  border-color: #333333;
  margin-bottom: 0;
  cursor: default;
}
#top-links .ui-widget-header .ui-state-default.ui-state-active > a,
#product-tabs-container .ui-widget-header .ui-state-default.ui-state-active > a,
#top-links .ui-widget-header .ui-state-default.ui-state-active.ui-state-hover > a,
#product-tabs-container .ui-widget-header .ui-state-default.ui-state-active.ui-state-hover > a,
#top-links .ui-widget-header .ui-state-default.ui-state-active:hover > a,
#product-tabs-container .ui-widget-header .ui-state-default.ui-state-active:hover > a {
  color: #F8F6DA;
  cursor: default;
}
.ui-tabs-panel {
  overflow: hidden;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 0;
  padding-bottom: 0;
}
.ui-tabs .ui-tabs-panel {
  border-width: 0;
}
#top-links .ui-widget-content {
  border: none;
}
input[type=text],
input[type=password],
select,
textarea,
.input-style {
  border-color: #D4C6AC;
}
.product-details .image .image-box {
  max-width: 100%;
  height: auto !important;
}
.product-details .image .image-box img {
  max-width: 100%;
  height: auto;
}
.error-page #header .line1 .logo {
  height: 120px !important;
  width: auto !important;
  max-width: 100%;
  padding: 10px;
}
.error-page #header .line1 .logo img {
  max-width: 100%;
  max-height: 100px;
  width: auto;
  height: auto;
}
.error-page #header .logo {
  margin-left: 0;
}
.error-page .description {
  width: 100%;
  margin-bottom: 50px;
}
.error-page .reason {
  color: #952B3F;
}
.error-page #center {
  clear: both;
}
.error-page #center:before,
.error-page #center:after {
  content: '';
  display: table;
  clear: both;
}
.product-added .ui-dialog-content .ui-button {
  background: #020000 !important;
}
.dialog .title h2 {
  text-transform: uppercase;
}
.cart.products {
  padding: 20px;
  background: #F8F6DA;
}
.cart .cart-border {
  background: #f4f1c5;
  border-top: 1px solid #ece69a;
}
.simple-dialog .content {
  border: 1px solid #f4f1c5;
  background: #F8F6DA;
}
.cart-container h1,
.checkout-container .opc-container h1,
div.checkout-container h1 {
  margin-right: auto;
  font-size: 60px;
  display: table-cell;
}
@media (max-width: 767px) {
  .cart-container h1,
  .checkout-container .opc-container h1,
  div.checkout-container h1 {
    font-size: 40px;
  }
}
.checkout-container .checkout-container #center {
  background: #fff;
  padding: 0 20px;
  margin: 0 auto 30px;
}
div.opc-container .opc-section h2,
div.opc-container .opc-section h3 {
  color: #333333;
}
table.product-properties .property-value a {
  color: #000;
}
table.product-properties .property-value a:hover {
  color: #952B3F;
}
table.product-properties .property-name {
  opacity: 1;
  color: #952B3F;
}
.checkout-buttons {
  padding-left: 20px;
}
div.address-book-link {
  background: #E7E7E7;
}
.giftcert-header img {
  width: 158px;
  height: 110px;
  background: url("../images/redesign/girtcert.jpg") no-repeat center;
  border: 1px solid #333333;
  padding: 5px;
  background-clip: content-box;
}
.dialog {
  page-break-inside: auto;
}
.printable .footer-top {
  -webkit-columns: 200px auto;
  -moz-columns: 200px auto;
  columns: 200px auto;
}
.printable .footer-top > div {
  width: auto;
  float: none;
}
.printable #header .wrapper-box.fixed .logo,
.printable #header .logo {
  width: 285px;
  height: 120px;
  max-height: none;
  margin: 0 auto 0 0;
}
.printable #header .wrapper-box.fixed,
.printable #header > .wrapper-box > .inner-container.fixed {
  position: relative;
}
.printable .navigation-bar,
.printable #multilevelmenu,
.printable .footer-top-4,
.printable .widget_cs_social_widget {
  display: none;
}
