@import "mixins";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

@red: #952B3F;
@light-yellow: #F8F6DA;
@yellow: #e8cf8f;

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-widget, .ui-widget *, .ui-dialog, .ui-dialog *, li.address-box, li.address-box *, #colorbox, #colorbox *{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

html, body{
  background: url("../images/redesign/bg.jpeg");
  color: #333333;
}
body{
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  font-size:14px;
  color: #3f3f3f;
  line-height: 2em;
  font-weight:600;
}


#center, .wrapper-box, .breadcrumbs{
  width:1170px;
  max-width: 100%;
  margin:auto;
  right:auto;
  left:auto;
  float: none;
}

#center{
  padding: 0 20px 50px;
  .clearfix();
}

hr {
  border-bottom-color: #E8CF8F;
}

.desktop-hidden{
  @media(min-width: @screen-md){
    display: none !important;
  }
}

#page-container{
  background:  rgba(255, 253, 224, 0.5);
}

@media screen and (max-width: (@screen-sm - 1px)){
  #page-container2, .wrapper-box {
    padding-right: 0;
    padding-left: 0;
  }
}

.data-table td.data-name,
label{
  color: @red;
  font-weight:600 !important;
}


// --------------------------------- HEADER ------------------------------- //

#header{
  min-height:138px;
  background: url("../images/redesign/bg.jpeg");
  height: auto;
  position: relative !important;
  border-top: 18px solid @red;
  z-index: 1001;

  > .wrapper-box {
    position: static;
    top: -60px;
    .trans(300ms);
    &.fixed{
      position: fixed;
      top:0;
      -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    }

    > .inner-container{
      &.fixed{
        position: fixed;
        top:0;
      }
      .flexbox();
      .justify-content(space-between);
    }
  }


  .logo{
    width:285px;
    .flexbox();
    .align-items(center);
    height:120px;
    max-height: 120px;

    a{
      display: inline-block;
      max-width: 281px;
      width:281px;
      min-width:100%;
    }

    @media(min-width: 1023px){
      .calc(max-width, '100% - 863px');
      a{
        .calc(max-width, '100% - 839px');
      }
    }

    @media(max-width: 1024px) and (min-width: @screen-md){
      .calc(max-width, '100% - 816px');
      a{
        .calc(max-width, '100% - 792px');
      }
    }
    @media(max-width: (@screen-md - 1px)){
      .calc(max-width, '100% - 120px');
      a{
        .calc(max-width, '100% - 96px');
      }
    }

    padding:12px 15px;
    .trans(300ms);

    img{
      max-width: 100%;
      max-height: 100%;
      height:auto;
      width:auto;
    }
  }
  .wrapper-box.fixed{
    width:100%;
    height:56px;
    background: #F8F6DA;
    .logo {
      width: 125px;
      max-height: 56px;
      padding: 12px 15px;
    }

  }
}

#content-container, .error-page #content-container, .checkout-container #content-container, .printable #content-container {
  margin-top: 0;
}

// ---------------------------------MULTILEVEL MENU------------------------------- //


#multilevelmenu{
  .flexbox();
  .align-items(center);
}


.multilevel-menu{
  background: transparent;

  //Root level
  > ul{
    margin:0;
    font-size:0;
    &.multilevel-menu-level-0{
      padding-left: 0;
      @media(max-width: (@screen-md - 1px)){
        display: none;
      }
    }

    > li{
      display: inline-block;
      padding:0;
      margin:0;
      position: relative;

      > a, > span{
        display: inline-block;
        margin:0;
        text-transform: uppercase;
        color: #000000;
        min-width: 0;
        padding:0 10px;
        text-decoration: none !important;
        font-size:13px;
        @media(max-width: 1024px) and (min-width: @screen-md){
          font-size:12px;
        }
        line-height:120px;
        font-weight:600;
        .trans(0.3s);
        &:after{
          content: '';
          border-width: 4px;
          border-color: transparent transparent @yellow;
          border-style: solid;
          display: block;
          right: 50%;
          bottom: 40px;
          margin-right: -2px;
          position: absolute;
          opacity: 0;
          visibility: hidden;
          .trans(opacity 0.3s);
        }
        &:before{
          content: '';
          display: block;
          width:100%;
          height:2px;
          background: @yellow;
          right: 0;
          bottom: 38px;
          position: absolute;
          opacity: 0;
          visibility: hidden;
          .trans(opacity 0.3s);
        }
        &.has-sublevel:after {
          border-color: @yellow transparent transparent;
          bottom: 40px;
        }

      }
      > span{
        cursor: default;
      }

      &:hover{
        > a, > span{
          color: @red;
          &:before,
          &:after{
            opacity: 1;
            visibility: visible;
          }

          &.has-sublevel{
            background: @light-yellow;
            &:before{
              display: none;
            }
          }
        }

        > ul{
          margin-top:0;
        }
      }

      //All the dropdowns
      ul{
        min-width:200px;
        margin-top: 10px;
        width:auto;
        padding: 0;
        background: @light-yellow;
        @media(min-width: @screen-md){
          border-bottom:5px solid @yellow;
        }

        text-align: left;
        li{
          border:none;
          width:100%;
          background: transparent;
          padding:0;
          margin:0;
          &:hover{
            > ul{
              @media(min-width: @screen-md){
                opacity:1;
                visibility: visible;
              }
            }
            > a, > span{
              color: @red;
              background: rgba(0, 0, 0, 0.1);
            }
            @media(min-width: @screen-md){
              > a, > span{
                color: @red;
                background: rgba(0, 0, 0, 0.1);
                &:before{
                  border-color: transparent transparent transparent @red;
                  left: 10px;
                  opacity: 1;
                  visibility: visible;
                }
              }
            }

          }
          > a, > span{
            border:none;
            width:100%;
            font-size:14px;
            font-weight:600;
            font-family: 'Open Sans', sans-serif;
            text-decoration: none !important;
            background: transparent;
            color: #000000;
            padding: 10px 20px;
            .trans(ease 200ms);
            &:before {
              content: '';
              border-width: 4px;
              border-color: transparent transparent transparent @yellow;
              border-style: solid;
              display: block;
              top: 50%;
              left: 0;
              margin-top: -4px;
              position: absolute;
              opacity: 0;
              visibility: hidden;
              .trans(ease 300ms);
            }
          }
          ul{
            visibility: visible;
            opacity: 1;
            position: relative;
            @media(min-width: @screen-md){
              visibility: hidden;
              opacity: 0;
              position: absolute;
            }

          }
        }
      }

      //First dropdown
      > ul{
        margin-top:40px;
        .trans(ease 300ms);
        &:before{
          content: '';
          height:16px;
          background: transparent;
          width:100%;
          display: block;
          position: absolute;
          top: -16px;
          left: 0;
          text-align: left;
        }
      }


    }
  }

}
.multilevel-menu > ul.nav{
  font-size:0;
  min-width:80px;

  > li.dropdown{
    width:40px;
    @media(max-width: (@screen-md - 1px)){
      position: static;
    }

    .dropdown.open .dropdown-toggle,
    .dropdown-toggle:hover, .dropdown-toggle:focus,
    .dropdown-menu{
      background: transparent;
      border: none;
      color: @red;
      @media(min-width: @screen-md){
        display: block !important;
      }
      right:0;
      left: auto;
    }

    .dropdown-menu{

      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

      @media(max-width: (@screen-md - 1px)){
        width: 100%;
      }

      > ul{
        max-height: 85vh;
        margin-top:40px;
        .trans(ease 300ms);
        @media(min-width: @screen-md){
          opacity: 0;
          visibility: hidden;
        }
        @media(max-width: (@screen-md - 1px)){
          opacity: 1;
          visibility: visible;
          position: relative;
          margin-top: 0;
        }

      }

      &#main-menu-box{
        > ul {
          overflow-y: scroll;
        }
        span.toggle-button{
          position: absolute;
          right: 0;
          height: 40px;
          width: 40px;
          text-align: center;
          display: block;
          top: 0;
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          text-decoration: inherit;
          -webkit-font-smoothing: antialiased;
          cursor: pointer;
          padding:0;
          color: #888;
          font-size: 20px;
          line-height:40px;
          &:before{
            position: relative;
            top:auto;
            right:auto;
            left:auto;
            bottom:auto;
            margin:auto;
            border:none;
            visibility: visible;
            opacity: 1;
          }
        }
        ul li{
          ul{
            margin:0;
            padding-left: 15px;
          }

          > ul{
            display: none;
          }

          &.collapsed{
            > span.toggle-button:before {
              content: "\f105";
            }
            > ul{
              opacity:0;
              height:0;
            }
          }
          &.expanded{
            > span.toggle-button:before {
              content: "\f107";
            }
            > ul{
              opacity:1;
              height:auto;
            }
          }

          &:hover{
            > a, > span{
              background: transparent;
            }
          }
        }
      }

    }

    @media(min-width: @screen-md){
      &:hover{
        .dropdown-menu > ul{
          margin-top:0;
          opacity: 1;
          visibility: visible;
        }
      }
    }

  }
  > li{
    width:40px;
    height:120px;
    .trans(300ms);
    margin:0;
    vertical-align: middle;
    text-align: center;
    > a{
      line-height:120px;
      .trans(300ms);
      padding:0 13px;
      background: transparent;
      &:before, &:after{
        display: none;
      }
      .fa{
        line-height:120px;
        font-size:17px;
        .trans(300ms);
      }
    }
  }

  .menu-minicart{
    margin:0 !important;
    padding:0;
    float: none !important;
    background: transparent;
    border:none;
    position: relative !important;
    .title-bar{
      float: none;
      margin:0;

    }
    .icon{
      background: transparent none;
      height:auto;
      padding:0 10px;
      .trans(300ms);
      width: auto;
      font-family: "FontAwesome";
      font-size: 20px;
      line-height:120px;
      color: #000;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      &.minicart-button-show{
        color: @red;
        &:after{
          content: '';
          width:100%;
          height:100%;
          position: fixed;
          top:0;
          left: 0;
          background: transparent;
        }
      }
      &:before {
        content: "\f07a";
      }
    }
    .content{
      display: none;
    }
  }
}

#header .minicart-box{
  top:100% !important;
}
.minicart-box{
  border: none;
  padding: 10px;
  box-shadow: none;
  background: @light-yellow;
  border-bottom: 5px solid @yellow;
  border-radius: 0;
  ul.cart-items{
    position: relative;
    width: auto;
    display: block !important;
    opacity: 1;
    visibility: visible;
    border:none;
    li{
      .price-row > *{
        vertical-align: middle;
      }
      &:hover{
        > a, > span{
          background: transparent;
          &:before{
            display: none;
          }
        }
      }
    }
  }
}

.wrapper-box.fixed .multilevel-menu{
  > ul.nav .menu-minicart .icon{
    height:56px;
    line-height:56px;
  }
  > ul.nav > li,
  > ul > li{
    height:56px;
    > a, > span{
      line-height:56px;
      &:before, &:after{
        display: none;
      }
      .fa{
        height:56px;
        line-height:56px;
      }
    }
  }
}

// ---------------------- FOOTER ----------------------- //

#footer{
  background: url("../images/redesign/footer-top.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: none;
  position: relative !important;
  top:auto;
  left:auto;
  right:auto;
  bottom: auto;
  width:100%;

  .box{
    min-height:0;
    padding:0;
    background: transparent;
    &:last-of-type{
      background: url("../images/redesign/bg.jpeg");
      > .wrapper-box{
        @media(min-width: 1024px){
          .flexbox();
          .justify-content(space-between);
          .align-items(center);
        }


        font-size:14px;
        color: @red;
        font-weight:600;

        .copyright{
          margin:0;
          line-height:38px;
          @media(max-width: 1023px){
            margin: auto;
            float: none;
            width: 100%;
            text-align: center;
          }
      }
        > ul{
          margin:0;
          line-height:38px;
          text-align: right;
          @media(max-width: 1023px){
            margin: auto;
            float: none;
            width: 100%;
            text-align: center;
          }
          > li{
            list-style: none;
            display: inline-block;
            &:after{
              content: '|';
              margin:auto 10px;
            }
            &:last-of-type{
              &:after{
                display: none;
              }
            }
            a{
              color: @red;
              text-decoration: none;
              &:hover{
                color: #000;
              }
            }
            ul{
              display: none !important;
            }
          }
        }
      }

    }
  }
}

@media (max-width: (@screen-sm - 1px)){
  .col-xs-12 {
    width: 100%;
    float: none;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: @screen-sm){
  .col-sm-6 {
    width: 50%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: @screen-md){
  .col-md-3 {
    width: 25%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: @screen-lg){
  .col-lg-3 {
    width: 25%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.right_media {
  float: left;
  margin-left: 20px;
}
.cs-social li {
  line-height:28px;
  display: inline-block;
  a{
    color: #ffffff;
    font-weight:700;
    font-size:20px;
  }
  & + li {
    margin-left: 15px;
  }
}





.footer-top {
  .clearfix();
  line-height: 2em;
  text-shadow: 0 0 5px #000;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 0;
  font-weight:600;

  a{
    color: #ffffff;
  }
  h3.wg-title {
    font-size: 16px;
    letter-spacing: 0;
    color: #ffffff;
  }

  .news-signup{
    input{
      background: #fff;
      border: 1px solid #ececec;
      font-size: 15px;
      height: 40px;
      line-height: 40px;
      padding: 0;
      text-indent: 10px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      color: #020202 !important;
    }
    button{
      background-color: #020000;
      color: #fff;
      border: none;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      line-height: normal;
      font-weight:600;
      text-transform: uppercase;
      padding: 11px 14px 10px 14px;
    }
  }

}

// ------------------ MAIN TITLE ------------------- //

.main-title{
  width:100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height:185px;
  display: table;
  position: relative;
  padding:15px 0;
  margin-bottom: 50px;

  h1{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #e8cf8f;
    font-size:60px;
    height:155px;
    font-weight:600;
    margin:auto;
    position: relative;

    @media(max-width: (@screen-sm - 1px)){
      font-size: 40px;
    }
  }

  &:before {
    content: '';
    width: 100%;
    top:15px;
    left:0;
    position: absolute;
    .calc(height, '100% - 30px');
    background: rgba(0, 0, 0, 0.5);
  }

}

// ------------------ HOME PAGE ---------------------- //

.welcome{
  margin-bottom: 45px;
}
.cats{
  .clearfix();
  margin-right: -20px;
  > div{
    padding: 0 0 30px;
    @media(min-width: @screen-sm){
      .flexbox();
      .cat-image{
        min-width:230px;
        .home-container &{
          min-width:300px;
        }

      }
      .cat-info{
        border-left:50px solid transparent;
        .calc(min-width, '100% - 300px');
      }
    }
    &:last-of-type{
      padding:0;
    }

    .cat-image{
      img{
        border:1px solid #333333;
        padding: 5px;
        max-width: 100%;
        width:300px;
        height:auto;
        &.subcat-img{
          width:200px;
        }
      }
    }
    .cat-info{
      text-align: left;
      .cat-title{
        text-transform: uppercase;
        font-size:26px;
        margin: 15px 0;
        color: #333333;
        display: block;
        &:hover{
          text-decoration: none;
        }
      }

      .cat-button{
        display: inline-block;
        color: #2a2a2a;
        border: 2px solid #2a2a2a;
        padding:13px 19px;
        font-size:14px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        margin-top: 35px;
        .trans(300ms);
        text-decoration: none;
        &:hover{
          background: #2a2a2a;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}


// ----------- PRODUCTS LISTING ------------- //

.ui-widget-content .products.products-div{
  .clearfix();
  padding:0;
}
.products-div .item-box{
  background: @light-yellow;
  border-color: @light-yellow;

  .product-title{
    color: #333333;
    &:hover{
      text-decoration: none;
      color: @red;
    }
  }
}
.products-list{
  background: @light-yellow;
  padding:0 30px;
  @media(max-width: (@screen-sm - 1px)){
    padding: 0 20px 20px;
  }
  .item{
    border-bottom: 1px solid #a7a699;
    background: @light-yellow;
    margin:0;
    padding:30px;
    @media(max-width: (@screen-sm - 1px)){
      padding: 30px 0;
    }

    &:last-of-type{
      border:none;
    }
    .product-title{
      color: #333333;
      text-transform: uppercase;
      &:hover{
        text-decoration: none;
        color: @red;
      }
    }

    @media(max-width: (@screen-sm - 1px)){
      .image{
        max-width:100%;
        float: none;
        text-align: center;
        margin:0 0 10px;
        padding:0;
        .image-wrapper{
          max-width:100%;
          a{
            max-width: 100%;
            img{
              max-width: 100%;
              height:auto;
            }
          }
        }
      }
      .details{
        width:100%;
        padding:0;
        float: none;
        margin:20px 0 0 0 !important;
      }
    }
  }

  &.simple-products-div{
    .item{
      padding:0;
      border:none;
    }
  }
}
.price-value,
.products .price-value,
.pconf-price-row .price-value,
table.product-properties .product-price-value,
.totals .total-value{
  color: @red;
}
.products{
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 30px;
}
.navigation-bar.simple-list-left{
  margin-bottom: -28px;
  padding-right: 35px;
  background: @light-yellow;
  .item-left{
    float: right;
  }
  .item-right{
    line-height:30px;
  }
}
.nav-pages{
  margin-left:10px;

  span.right-delimiter, a.right-delimiter, > a:last-child{
    padding:0 8px;
    border: 1px solid #5D5D5D;
    color: #5D5D5D;
    &.current-page{
      color: #ffffff;
      &:hover{
        color: #ffffff;
        border-color: #5D5D5D;
      }
    }
    &:hover{
      border: 1px solid @red;
      color: @red;
    }
  }
  .current-page{
    color: #ffffff;
    padding:0 8px;
    border-color: #5D5D5D;
    background: #5D5D5D;
    &:hover{
      border-color: #5D5D5D;
    }
  }
  .left-arrow,
  .right-arrow{
    background: transparent none;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size:15px;
    line-height:28px;
    &:after {
      display: none;
    }
  }
  .right-arrow:before{
    content: "\f105";
  }
  .left-arrow:before{
    content: "\f104";
  }
}
.products-dialog{
  .title{
    margin-bottom:0;
    background: @light-yellow;
    border:none;
    padding: 20px 30px 0;
    @media(max-width: (@screen-sm - 1px)){
      padding: 20px 20px 0;
    }
    h2{
      color: #333333;
      text-transform: uppercase;
    }
  }
}
@media(max-width: (@screen-sm - 1px)){
  .list-dialog .title h2{
    float: none;
  }
  .list-dialog .title div.sort-box{
    float: none;
    margin-left: -8px;
  }
  .navigation-bar.simple-list-left{
    padding-left: 20px;
    .item-right{
      float: left;
    }
  }
}
a.search-sort-link{
  color: #333333;
}
.search-sort-bar a.up-direction, .search-sort-bar a.down-direction{
  background-color: @red;
}
.products + .navigation-bar {
  margin: -40px 0 0;
  width: auto;
  float: right;
  padding: 0 10px 0 0;
  border-top: none;
  position: relative;
}

//----------- Breadcrumbs ------------ //

.breadcrumbs{
  padding: 0 20px;
  margin: -30px auto 0;
  @media(min-width: @screen-xs){
    .flexbox();
    .justify-content(space-between);
  }

  a.bread-crumb{
    &:hover{
      text-decoration: none;
    }
  }
  span.bread-crumb{
    color: #333333;
    cursor: default;
  }
  #location{
    color: #952B3F;
    > a:first-child{
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-size:15px;
      line-height:23px;
      text-align: center;
      background: @red;
      color: #ffffff;
      &:hover{
        background: #333;
        color: #ffffff;
      }
      &:before {
        content: "\f015";
        background: none transparent;
      }
    }
  }
}


// ------------------- Product page --------------------- //

.dpimages-icons-box{
  background: @light-yellow;
}
.product-properties .product-options {
  background-color: transparent;
  padding: 0;
}


#top-links,
#product-tabs-container{
  background: transparent;
  &.ui-widget-content{
    border-color: transparent;
  }
  .ui-widget-header .ui-state-default{
    background: @light-yellow;
    border-color: @light-yellow;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-bottom:0;
    > a{
      color: #333;
      font-size:15px;
      font-family: 'Open Sans', sans-serif;
      font-weight:600;
    }
    &.ui-state-hover, &:hover{
      background: @yellow;
      border-color: @yellow;
      margin-bottom:0;
    }


    &.ui-state-active{
      &, &.ui-state-hover, &:hover{
        background: #333333;
        border-color: #333333;
        margin-bottom:0;
        cursor: default;
        > a{
          color: @light-yellow;
          cursor: default;
        }
      }

    }
  }
}
.ui-tabs-panel{
  overflow: hidden;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 0;
  padding-bottom: 0;
}
.ui-tabs .ui-tabs-panel {
  border-width: 0;
}
#top-links .ui-widget-content{
  border: none;
}

input[type=text], input[type=password], select, textarea, .input-style{
  border-color: #D4C6AC;
}


.product-details .image .image-box{
  max-width:100%;
  height:auto !important;
  img{
    max-width: 100%;
    height: auto;
  }
}

// ------------- 404 ---------------- //

.error-page{
  #header .line1 .logo{
    height:120px !important;
    width:auto !important;
    max-width: 100%;
    padding:10px;
    img{
      max-width: 100%;
      max-height:100px;
      width: auto;
      height:auto;
    }
  }
  #header .logo {
    margin-left: 0;
  }
  .description {
    width: 100%;
    margin-bottom: 50px;
  }
  .reason{
    color: @red;
  }
  #center{
    .clearfix();
  }
}

// -------------- CART & checkout --------------- //

.product-added .ui-dialog-content .ui-button{
  background: #020000 !important;
}
.dialog .title h2{
  text-transform: uppercase;
}

.cart.products {
  padding: 20px;
  background: @light-yellow;
}
.cart .cart-border {
  background: darken(@light-yellow, 5%);
  border-top: 1px solid darken(@light-yellow, 15%);
}
.simple-dialog .content {
  border: 1px solid darken(@light-yellow, 5%);
  background: @light-yellow;
}
.cart-container h1, .checkout-container .opc-container h1, div.checkout-container h1 {
  margin-right: auto;
  font-size: 60px;
  display: table-cell;
  @media(max-width: (@screen-sm - 1px)){
    font-size: 40px;
  }
}
.checkout-container .checkout-container #center {
  background: #fff;
  padding: 0 20px;
  margin: 0 auto 30px;
}
div.opc-container .opc-section h2, div.opc-container .opc-section h3{
  color: #333333;
}

table.product-properties{
  .property-value{
    a{
      color: #000;
      &:hover{
        color: @red;
      }
    }
  }

  .property-name{
    opacity:1;
    color: @red;
  }
}
.checkout-buttons {
  padding-left: 20px;
}

div.address-book-link{
  background: #E7E7E7;
}

.giftcert-header img{
  width:158px;
  height:110px;
  background: url("../images/redesign/girtcert.jpg") no-repeat center;
  border: 1px solid #333333;
  padding: 5px;
  background-clip: content-box;
}
.dialog{
  page-break-inside: auto;
}

.printable{
  .footer-top{
    -webkit-columns: 200px auto;
    -moz-columns: 200px auto;
    columns: 200px auto;
    > div{
      width: auto;
      float: none;
    }
  }
  #header .wrapper-box.fixed .logo,
  #header .logo{
    width:285px;
    height:120px;
    max-height: none;
    margin:0 auto 0 0;
  }
  #header .wrapper-box.fixed, #header > .wrapper-box > .inner-container.fixed{
    position: relative;
  }
  .navigation-bar, #multilevelmenu,
  .footer-top-4, .widget_cs_social_widget{
    display: none;
  }
}