{*
850e5138e855497e58a9e99e00c2e8e04e3f7234, v1 (xcart_4_4_0_beta_2), 2010-05-21 08:31:50, customer_menu.tpl, joy
vim: set ts=2 sw=2 sts=2 et:
*}
{if $is_fc_display_menu eq 'Y'}
  <li>
    <a href="choosing.php">{$lng.lbl_choosing_products_features}</a>
  </li>
{/if}
