/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * X-Product configurator module CSS stylesheet
 *  
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    66bda583bd51b259e6a62a11497c0b62a868d726, v3 (xcart_4_6_2), 2013-11-29 13:50:21, altskin.css, random
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */
.pconf-product-summary .details,
.pconf-product-configure .details {
  float: left;
}
.pconf-product-summary .details table.product-properties {
  float: none;
}
.pconf-summary-slots .pconf-slot-details {
  padding-right: 15px;
}
.pconf-product-summary table tr td {
  white-space: normal;
}
.pconf-cart-list {
  margin-top: 20px;
}
.pconf-cart-list table td.pconf-cart-subproduct {
  padding-right: 0;
}

