<div class="main">
	<div align="justify">
		<font color="#000000"><strong>I. LEGAL DRINKING AGE IS 21 YEARS OF AGE</strong><br />
		I agree that I am of legal drinking age! </font></div>
	<div align="justify">
		&nbsp;</div>
</div>
<div align="justify" class="main">
	<font color="#000000"><strong>II. YOUR EVENT INVOLVES WINE TASTING</strong><br />
	I understand that Atlanta Wine School&rsquo;s courses include wine tasting as a necessary and integral part of the courses. Wine contains alcohol and alcohol may cause impairment or drunkenness if consumed in sufficient quantities. I agree that when participating in Atlanta Wine School&rsquo;s tastings, I will consume wine only in moderation and not so as to cause impairment or drunkenness. I am under no legal or medical restriction which would limit my right or ability to participate in wine tasting.</font></div>
<div align="justify" class="main">
	&nbsp;</div>
<div align="justify" class="main">
	<font color="#000000"><strong>III. RELEASE</strong><br />
	In consideration for my participation in Atlanta Wine School&rsquo;s courses, I release, discharge and agree not to sue Atlanta Wine School or any of it&rsquo;s affiliates, shareholders, directors, officers, employees, agents, representatives, or Venues where class is held (collectively called &ldquo;Releasees in this Agreement and Release) for any claims, demands, actions and causes of action arising out of any loss or damage to property and any injury, including but not limited to death, that I or others may sustain, whether or not caused by the negligence of the Releasees, as a result of my participating in Atlanta Wine School&rsquo;s wine tastings, classes, events or tours. I voluntarily assume full responsibility for property loss or damage, and for personal injury, including but not limited to death that I may sustain as a result of being engaged in this activity, whether or not caused by the negligence of the Releasees. I intend this as a release, discharge and promise not to sue or bring any claim against the Releasees. I also agree to indemnify and hold harmless the Releasees from any loss, liability, damage or costs, including court costs and attorney&rsquo;s fees, that they may incur due to my participation in the activity, whether caused by the negligence of Releasees or otherwise.</font></div>
<div align="justify" class="main">
	&nbsp;</div>
<div align="justify" class="main">
	<div id="yui_3_2_0_76_13477390709681087" style="background-color: transparent">
		<font color="#000000"><span id="yui_3_2_0_76_13477390709681088">Promotional Release. I hereby grant to Company the unrestricted right and permission to copyright and use photographic portraits, pictures, video footage and/or audio recordings of my participation in the Classes and events, in which I may be included intact or in part, including the negatives, prints, transparencies or digital information relevant to such portraits (the &ldquo;Material&rdquo;). Company has the right to reproduce, exhibit, distribute, broadcast, digitize, edit, or otherwise use the Material, by any method and in any media, whether now existing or later created, without restriction throughout the world, by incorporating the Material into its website, publications, catalogues, brochures, books, magazines, or commercial, informational, educational, advertising, or promotional materials relating thereto (collectively, the &ldquo;Works&rsquo;). I agree that Company is and shall be the exclusive owner of all right, title, and interest, including copyright, in the Material and the Works. I further grant to Company an irrevocable, royalty-free, worldwide license to use my name, age, and hometown in connection with the Material and the Works.</span></font></div>
	<div style="background-color: transparent">
		&nbsp;</div>
</div>
<div align="justify" class="main">
	<font color="#000000"><strong>IV. INTENT</strong><br />
	I understand that it is a condition of my enrollment in Atlanta Wine School classes that I must agree to these terms, and I understand that Atlanta Wine School will not permit me to purchase any of its courses or attend any of its classes unless done so.</font></div>
<div align="justify" class="main">
	&nbsp;</div>
<div align="justify" class="main">
	<strong><font color="#000000">V. YOUR&nbsp;</font><font color="#000000">RESERVATIONS</font></strong></div>
<div align="justify" class="main">
	<span style="color: rgb(0, 0, 0);">If you are attending a class or event, you will NOT receive tickets by mail or email--you will simply check-in at the event or class. To be assured of your reservation, you are always advised to print the final confirmation screen at check-out showing your purchase OR to print the email invoice sent to the email you specify during check-out.&nbsp; Non-receipt of this email invoice does not constitute a voided transaction.</span></div>
<p style="text-align: justify;">
	<strong><span style="color: rgb(0, 0, 0);">VI</span><span style="color: rgb(0, 0, 0);">. ALL PAYMENTS ARE FINAL</span></strong></p>
<div align="justify" class="main">
	<strong><span style="color: rgb(0, 0, 0);">VII. NONREFUNDABLE</span></strong></div>
<div align="justify" class="main">
	<span style="color: rgb(0, 0, 0);">Please note (unless specified otherwise) all class and event admissions are non-refundable, so if you can&#39;t make it, pass on your reservation to someone who can! All of our 8-week courses(Introduction to Wine Level I) allow you 12 months to make up a missed class at no charge. &nbsp;</span><span style="color: rgb(0, 0, 0);">If a class is cancelled due to insufficient registrations, attendees will be given the choice of moving their registration to a future class, same or different, or having 100% of their money refunded.</span></div>
<p>
	<strong><span style="color: rgb(0, 0, 0);">VIII. ISSUES BEYOND OUR CONTROL/INCLEMENT WEATHER/ACTS OF GOD</span></strong><br />
	<span style="color: rgb(0, 0, 0);">If a class cannot run due to inclement weather or other &quot;acts of God,&quot; then we will post a re-schedule date for this class. If an attendee cannot make the re-schedule date, we will provide a credit amount of the class to the attendee so they may use it towards a future class.</span></p>
<p>
	<font color="#000000"><strong>IX. CANCELLATIONS</strong><br />
	If you are not able to make your course, you have the following recourse:</font></p>
<p>
	<font color="#000000">Cancellations with a minimum of three (3) full business days notice of course commencement will allow you to receive 100% of your registration credit towards a future class of your choosing, based on availability. &nbsp;This credit must be used within 6 months of being provided by Vino Venue/Atlanta Wine School or is forfeited. </font>&nbsp;Note:&nbsp;All WSET (Wine &amp; Spirit Education Trust) courses require a notice of eleven (11) business days prior to course commencement due to WSET regulations.</p>
<p>
	<font color="#000000">Cancellations within three (3) full business days of the event will NOT be eligible for any credit.</font></p>
<p>
	<span style="color: rgb(0, 0, 0);">Cancellations MUST be requested in writing at: <a href="mailto:info@atlantawineschool.com">info@atlantawineschool.com</a></span></p>
<div align="justify" class="main">
	<p>
		<strong><span style="color: rgb(0, 0, 0);">X. WHAT TO WEAR (AND WHAT NOT TO WEAR)</span></strong><br />
		<font color="#000000">Unless otherwise noted, patrons will feel comfortable in business casual clothes at our events. Also, your fellow guests will appreciate it if you wear very little or NO perfume/cologne. Patrons tell us all the time of the lady &quot;with too much perfume&quot; or the guy &quot;who wore way too much cologne.&quot; This is a distraction when one is trying to detect and describe various wine aromas.</font></p>
	<p>
		<font color="#000000"><strong>XI. DIETARY REQUEST SELECTIONS</strong></font><br />
		While registering for a course or event, we request you provide us with any special dietary needs you may have within three (3) business days of the scheduled course or event.&nbsp;&nbsp;All of our classes (except the CSW Program and the WSET Program) provide light appetizers, some of which are gluten free. &nbsp;But for cooking classes, events and wine dinners, alternatives will not be available unless previously requested.&nbsp;Altering the menu for these types of courses or events, if available, may result in a surcharge.</p>
	<div id="yui_3_2_0_76_13477390709681126" style="background-color: transparent">
		<div id="yui_3_2_0_76_13477390709681125" style="background-color: transparent">
			<font color="#000000"><span><span id="yui_3_2_0_76_13477390709681088"><strong>XII. HANDS-ON CLASSES OR PRIVATE EVENTS</strong> (Cooking, Food &amp; Wine)</span></span></font></div>
		<div style="background-color: transparent">
			<font color="#000000"><span><span id="yui_3_2_0_76_13477390709681088">1. Attire. The first step is to wear the right outfit! Please dress appropriately in comfortable clothes that can get messy, as well as closed toed shoes (highly recommended). We provide aprons during class sessions or you can bring your own.</span></span></font></div>
		<div style="background-color: transparent">
			<font color="#000000"><span><span id="yui_3_2_0_76_13477390709681088">2. This is fun but this is serious. If a student/client in any class is disrupting the teaching/cooking process (includes excessive texting, talking over chef instructions, not paying attention to basic knife skills), all chef instructors may remove the disruptive parties or in a worse case cease the event. &nbsp;In both situations no refund will be provided.</span></span></font></div>
		<div style="background-color: transparent">
			<font color="#000000"><span><span id="yui_3_2_0_76_13477390709681088">3. Voluntary Participation. I understand and confirm that my participation in the Classes voluntary. I am in good health and suffer from no physical or mental condition that would make me especially susceptible to injury or disability while participating in the classes.</span></span></font></div>
		<div style="background-color: transparent">
			<font color="#000000"><span><span id="yui_3_2_0_76_13477390709681088">4. Comprehension of Risk. I fully comprehend and accept all of the risks associated with my participation in the Classes including, without limitation, injury or death resulting from food sickness, allergic reactions, choking, and injuries arising from self-inflicted accidents or mishaps including cuts resulting in knife incidents, severe burns due to open flame or boiling water, or other participants&#39; negligence</span></span></font></div>
		<div style="background-color: transparent">
			&nbsp;</div>
		<div style="background-color: transparent">
			<font color="#000000"><strong>XIII. SEATING AT YOUR EVENT</strong><br />
			Seating at our events is FIRST-COME, FIRST-SERVE. If you are in a group of two or more, we strongly advise you to arrive early (at least 15 minutes early) to ensure you are seated together.</font></div>
	</div>
</div>
<p>
	<font color="#000000">&nbsp;<strong>XIV. GIFT CERTIFICATES/GIFT CARDS</strong></font><br />
	<span style="color: rgb(0, 0, 0);">We follow the Federal guidelines concerning giftcards, which went into effect on August 22nd, 2010. &nbsp;Those guidelines state an inactivity fee may be charged monthly for giftcard balances after one year from date of issue. &nbsp;The inactivity fee is 15% of the cards declining value each month. For example, a giftcard with a balance of $100 twelve months after date of issue, will be worth $85 in month 13, $72.75 in month 14, $61.41 in month 15, etc. &nbsp;Any residual value on the card expires five (5) years after date of purchase.</span></p>
