<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>
{literal}
<script>
    $(function() {
        $('#calendar').fullCalendar({
            defaultView: 'month',
            weekMode: 'variable',
            events: 'events.php' 
        });
    });
</script>
{/literal}

<div id="calendar"></div>