<p>
	{* $Id: giftcert.tpl,v 1.1.2.1 2010/12/15 09:44:39 aim Exp $ vim: set ts=2 sw=2 sts=2 et: *} {config_load file=&quot;$skin_config&quot;} {* $Id: template_sample_2.tpl,v 1.1.2.1 2010/12/15 09:44:40 aim Exp $ vim: set ts=2 sw=2 sts=2 et: *}
	<style type="text/css">
td{font-family:arial, sans-serif;}	</style>
</p>
<table cellpadding="0" cellspacing="0" width="650px">
	<tbody>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td>
								<img alt="" src="http://74.208.164.170/atlantawine/shop/skin/aws/modules/Gift_Certificates/images/left_top.gif" /></td>
							<td valign="top" width="100%">
								<img alt="" height="14" src="http://74.208.164.170/atlantawine/shop/skin/aws/modules/Gift_Certificates/images/top_border.gif" width="100%" /></td>
							<td>
								<img alt="" src="http://74.208.164.170/atlantawine/shop/skin/aws/modules/Gift_Certificates/images/right_top.gif" /></td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td>
								<img alt="" height="500" src="http://74.208.164.170/atlantawine/shop/skin/aws/modules/Gift_Certificates/images/left_border.gif" width="16" /></td>
							<td>
								<img alt="" height="1" src="http://74.208.164.170/atlantawine/shop/skin/aws/modules/Gift_Certificates/images/spacer.gif" width="34" /></td>
							<td valign="top" width="100%">
								<center>
									<table cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td valign="bottom">
													<img alt="" height="131" src="http://74.208.164.170/atlantawine/shop/skin/aws/modules/Gift_Certificates/images/companyname_small.gif" width="200" /><br />
													<img alt="" height="25" src="http://74.208.164.170/atlantawine/shop/skin/aws/modules/Gift_Certificates/images/spacer.gif" width="1" /><br />
													<img alt="" src="http://74.208.164.170/atlantawine/shop/skin/aws/modules/Gift_Certificates/images/theme_2.jpg" /></td>
												<td valign="top" width="100%">
													<br />
													<br />
													<h1>
														{$lng.lbl_gift_certificate}</h1>
													<br />
													<br />
													<table cellpadding="0" cellspacing="0" width="100%">
														<tbody>
															<tr>
																<td align="right" class="gcInfo" nowrap="nowrap">
																	{$lng.lbl_gc_id}:</td>
																<td class="gcInfo" width="10px">
																	&nbsp;&nbsp;</td>
																<td class="gcInfo" width="180px">
																	{$giftcert.gcid|default:$lng.lbl_gcid_notdefined}</td>
															</tr>
															<tr>
																<td align="right" class="gcInfo" nowrap="nowrap">
																	{$lng.lbl_from}:</td>
																<td class="gcInfo">
																	&nbsp;&nbsp;</td>
																<td class="gcInfo">
																	{$giftcert.purchaser|escape:&quot;html&quot;}</td>
															</tr>
															<tr>
																<td align="right" class="gcInfo" nowrap="nowrap">
																	{$lng.lbl_to}:</td>
																<td class="gcInfo">
																	&nbsp;&nbsp;</td>
																<td class="gcInfo">
																	{$giftcert.recipient|escape:&quot;html&quot;}</td>
															</tr>
															<tr>
																<td align="right" class="gcInfo" nowrap="nowrap">
																	{$lng.lbl_amount}:</td>
																<td class="gcInfo">
																	&nbsp;&nbsp;</td>
																<td class="gcInfo">
																	{currency value=$giftcert.amount}</td>
															</tr>
															<tr>
																<td class="gcInfo">
																	&nbsp;&nbsp;</td>
																<td class="gcInfo">
																	&nbsp;&nbsp;</td>
																<td class="gcInfo">
																	&nbsp;&nbsp;</td>
															</tr>
															<tr>
																<td align="right" class="gcInfo" nowrap="nowrap">
																	{$lng.lbl_message}:</td>
																<td class="gcInfo">
																	&nbsp;&nbsp;</td>
																<td class="gcInfoBorder" width="123">
																	{$giftcert.message|escape:&quot;html&quot;|replace:&quot;\n&quot;:&quot;<br />
																	&quot;}</td>
															</tr>
															<tr>
																<td colspan="3">
																	<br />
																	In order to redeem this gift certificate<br />
																	please follow these steps:<br />
																	<br />
																	<ol>
																		<li>
																			Go to <a href="http://www.atlantawineschool.com">www.atlantawineschool.com</a></li>
																		<li>
																			Add to cart any products.</li>
																		<li>
																			Follow to &#39;CHECKOUT&#39; section.</li>
																		<li>
																			Enter your personal details.</li>
																		<li>
																			Select &#39;Gift Certificate&#39; as payment method.</li>
																		<li>
																			Enter your gift certificate ID and &#39;Submit&#39;</li>
																		<li>
																			Call us if you have any questions--thanks!</li>
																	</ol>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</center>
							</td>
							<td>
								<img alt="" height="1" src="http://74.208.164.170/atlantawine/shop/skin/aws/modules/Gift_Certificates/images/spacer.gif" width="34" /></td>
							<td align="right">
								<img alt="" height="500" src="http://74.208.164.170/atlantawine/shop/skin/aws/modules/Gift_Certificates/images/right_border.gif" width="20" /></td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td>
								<img alt="" src="http://74.208.164.170/atlantawine/shop/skin/aws/modules/Gift_Certificates/images/left_bottom.gif" /></td>
							<td valign="bottom" width="100%">
								<img alt="" height="25" src="http://74.208.164.170/atlantawine/shop/skin/aws/modules/Gift_Certificates/images/bottom_border.gif" width="100%" /></td>
							<td>
								<img alt="" src="http://74.208.164.170/atlantawine/shop/skin/aws/modules/Gift_Certificates/images/curl.gif" /></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
