<div class="header_1">
	Privacy Policy</div>
<p>
	Atlanta Wine School complies with the TRUSTe Privacy Program. TRUSTe is an independent, non-profit organization whose mission is to enable individuals and organizations to establish trusting relationships based on respect for personal identity and information by promoting the use of fair information practices. This privacy statement covers the site www.atlantawineschool.com. Because this Web site wants to demonstrate its commitment to our users&rsquo; privacy, it has agreed to disclose its information practices.</p>
<p>
	The Privacy Policy will answer the following questions:</p>
<ol>
	<li>
		<div class="col_right">
			What personally identifiable information Atlanta Wine School collects.</div>
	</li>
	<li>
		<div class="col_right">
			What personally identifiable information third parties collect through the Web site.</div>
	</li>
	<li>
		<div class="col_right">
			What organization collects the information.</div>
	</li>
	<li>
		<div class="col_right">
			How Atlanta Wine School uses the information.</div>
	</li>
	<li>
		<div class="col_right">
			With whom Atlanta Wine School may share user information.</div>
	</li>
	<li>
		<div class="col_right">
			What choices are available to users regarding collection, use and distribution of the information.</div>
	</li>
	<li>
		<div class="col_right">
			What types of security procedures are in place to protect the loss, misuse or alteration of information under Atlanta Wine School&#39;s control.</div>
	</li>
	<li>
		<div class="col_right">
			How users can correct any inaccuracies in the information.</div>
	</li>
</ol>
<p>
	If users have questions or concerns regarding this statement, they should contact info@atlantawineschool.com</p>
<p class="header_1">
	Information Collection and Use</p>
<p class="header_2">
	Information Collection</p>
<p>
	Connect With Wine LLC DBA/Atlanta Wine School is the sole owner of the information collected on www.atlantawineschool.com. Atlanta Wine School collects information from our users at several different points on our Web site, as well as from email.</p>
<p class="header_2">
	Newsletter Registration</p>
<p>
	During registration a user is required to give contact information (such as name, email address, and zipcode). We use this information to contact the user about services that are provided via Atlanta Wine School LLC. This information is NEVER shared, rented, or provided to third parties. Any communications to our newsletter subscribers is ALWAYS done by us and from us. Out of respect for our users privacy we provide a way to opt-out of these communications.</p>
<p class="header_2">
	Order</p>
<p>
	We request information from the user on our shopping cart. A user must provide contact information (such as name, email, and shipping address) and financial information (such as credit card number, expiration date). This information is used for billing purposes and to fulfill customer&rsquo;s orders. If we have trouble processing an order, the information is used to contact the user.</p>
<p class="header_1">
	Information Use</p>
<p class="header_2">
	Profile</p>
<p>
	We DO NOT collect data through cookies, log files, clear gifs, and/or third parties for the purposes of creating a profile of our users.</p>
<p class="header_2">
	Third Party Advertising</p>
<p>
	No advertising using third party ad servers is used at this time.</p>
<p class="header_2">
	Log Files</p>
<p>
	Like most standard Web site servers we use log files. This includes internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, platform type, date/time stamp, and number of clicks to analyze trends, administer the site, track user&rsquo;s movement in the aggregate, and gather broad demographic information for aggregate use. IP addresses, etc. are not linked to personally identifiable information.</p>
<p class="header_1">
	Communications from the Site</p>
<p class="header_2">
	Special Offers and Updates</p>
<p>
	Registered members will occasionally receive information on products, services, special deals, and a newsletter via email. Out of respect for the privacy of our users we present the option to not receive these types of communications. Please see the Choice and Opt-out sections.</p>
<p class="header_2">
	Service Announcements</p>
<p>
	On rare occasions it is necessary to send out a strictly service related announcement. For instance, if our service is temporarily suspended for maintenance we might send users an email. Generally, users may not opt-out of these communications, though they can deactivate their account. However, these communications are not promotional in nature.</p>
<p class="header_2">
	Customer Service</p>
<p>
	We communicate with users on a regular basis to provide requested services and in regards to issues relating to their account we reply via email or phone, in accordance with the users wishes.</p>
<p class="header_1">
	Sharing</p>
<p class="header_2">
	Legal Disclaimer</p>
<p>
	Though we make every effort to preserve user privacy, we may need to disclose personal information when required by law wherein we have a good-faith belief that such action is necessary to comply with a current judicial proceeding, a court order or legal process served on our Web site.</p>
<div class="header_1">
	These are the instances in which we will share users&rsquo; personal information:</div>
<div class="header_2">
	(We DO NOT Share Personal Information with Third Parties, except as noted below.)</div>
<p class="header_2">
	Third Party Intermediaries</p>
<p>
	We use an outside shipping company to ship orders, and a credit card processing company to bill users for goods and services. These companies do not retain, share, store or use personally identifiable information for any secondary purposes.</p>
<p class="header_2">
	Service Providers</p>
<p>
	We partner with other third parties, for example wine retailers, to provide specific services. Only when a user signs up for these particular services do we share names and email addresses that are necessary for the third party to provide these services. These third parties are not allowed to use personally identifiable information except for the purpose of providing these services.</p>
<p class="header_2">
	Business Transitions</p>
<p>
	In the event Atlanta Wine School goes through a business transition, such as a merger, being acquired by another company, or selling a portion of its assets, users&rsquo; personal information will, in most instances, be part of the assets transferred.</p>
<p class="header_2">
	Choice/Opt-out</p>
<p>
	Users who no longer wish to receive our newsletter and promotional communications may opt-out of receiving these communications by clicking the unsubscribe link, or typing &lsquo;unsubscribe&rsquo; in the subject line in the email, or emailing us at info@connectwithwine.com</p>
<p class="header_2">
	Links</p>
<p>
	This Web site contains links to other sites. Please be aware that we, Atlanta Wine School , are not responsible for the privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of each and every Web site that collects personally identifiable information. This privacy statement applies solely to information collected by this Web site.</p>
<p class="header_2">
	Surveys [&amp; Contests]</p>
<p>
	From time-to-time our site requests information from users via surveys or contests. Participation in these surveys or contests is completely voluntary and the user therefore has a choice whether or not to disclose this information. The requested information typically includes name and email address. Contact information will be used to notify the winners and award prizes. Survey information will be used for purposes of monitoring or improving the use and satisfaction of this site. Users&rsquo; personally identifiable information is not shared with third parties unless we give prior notice and choice. Though we may use an intermediary to conduct these surveys or contests, they may not use users&rsquo; personally identifiable information for any secondary purposes.</p>
<p class="header_2">
	Tell-A-Friend</p>
<p>
	If a user elects to use our referral service for informing a friend about our site, we ask them for the friend&rsquo;s name and email address. Atlanta Wine School will automatically send the friend a one-time email inviting them to visit the site. The email service provider for Atlanta Wine School does not store this information.</p>
<p class="header_2">
	Chat Rooms, Message Boards, and Public Forums</p>
<p>
	Please keep in mind that whenever you voluntarily disclose personal information online - for example on message boards, through e-mail, or in chat areas - that information can be collected and used by others. In short, by posting personal information online that is publicly accessible, you may receive unsolicited messages from other parties in return.</p>
<p class="header_2">
	Security</p>
<p>
	This Web site takes every precaution to protect our users&rsquo; information. When users submit sensitive information via the Web site, their information is protected both online and off-line.</p>
<p>
	When our registration/order form asks users to enter sensitive information (such as credit card number and/or social security number), that information is encrypted and is protected with the best encryption software in the industry - SSL. While on a secure page, such as our order form, the lock icon on the bottom of Web browsers such as Netscape Navigator and Microsoft Internet Explorer becomes locked, as opposed to un-locked, or open, when users are just &lsquo;surfing&rsquo;.</p>
<p>
	While we use SSL encryption to protect sensitive information online, we also do everything in our power to protect user-information off-line. All of our users&rsquo; information, not just the sensitive information mentioned above, is restricted in our offices. Only employees who need the information to perform a specific job (for example, our billing clerk or a customer service representative) are granted access to personally identifiable information. ALL employees are kept up-to-date on our security and privacy practices. Finally, the servers that store personally identifiable information are in a secure environment, in a locked facility.</p>
<p>
	If users have any questions about the security at our Web site, users can send an email to info@atlantawineschool.com</p>
<p class="header_2">
	Correcting/Updating/Deleting/Deactivating Personal Information</p>
<p>
	If a user&rsquo;s personally identifiable information changes (such as zip code, phone, email or postal address), or if a user no longer desires our service, we provide a way to correct, update or delete/deactivate users&rsquo; personally identifiable information. This can usually be done at the by emailing our Customer Support at info@atlantawineschool.com</p>
<p class="header_2">
	Notification of Changes</p>
<p>
	If we decide to change our privacy policy, we will post those changes to this privacy statement, the homepage, and other places we deem appropriate so our users are always aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.</p>
<p>
	If, however, we are going to use users&rsquo; personally identifiable information in a manner different from that stated at the time of collection we will notify users via email OR by posting a notice on our Web site for 30 days.</p>
<p class="header_2">
	Contact Information</p>
<p>
	If users have any questions or suggestions regarding our privacy policy, please contact us at: info@atlantawineschool.com or via our postal address of PO BOX 88451, Atlanta, Georgia, 30356</p>
