<p>
	<strong>General Membership in the Rewards Program</strong></p>
<p>
	Connect With Wine LLC, Atlanta Wine School, V V Dunwoody LLC, Vino Venue and their affiliates (collectively, the &ldquo;Company&rdquo;) offer customers a loyalty program (individually, a &ldquo;Reward Program&quot;).&nbsp; These Terms and Conditions (the &ldquo;Program Rules&rdquo;) govern the Reward Program and the Company&rsquo;s relationships with members of the Reward Program (&ldquo;Members,&rdquo; individually, a &ldquo;Member&rdquo; or &ldquo;You&rdquo;). Membership in the Reward Program is subject to the Program Rules set forth below, and supersede all previous Program Rules. By opening a Reward Program account (&ldquo;Account&rdquo;), and by using the Reward Program at the Company to earn or redeem Reward Program Points (&ldquo;Points&rdquo;), You agree that:<br />
	(a) You have read, understood and accepted these Program Rules; and<br />
	(b) You consent to the Company&#39;s processing of data that is personal to You, and disclosure of such data to third parties, in accordance with the Company&rsquo;s privacy statement.</p>
<p>
	Participation in the Reward Program is subject to the Program Rules, rules, regulations, policies and procedures that the Company may, in its discretion, adopt from time to time. The Company may amend the Program Rules at any time without notice. The Company has the sole discretion to interpret and apply the Program Rules.</p>
<p>
	The accumulation of Points is subject to the Program Rules. Each Reward Program Member is responsible for reading the Program Rules, newsletters, and Account Detail in order to understand his or her rights, responsibilities, and status in the Reward Program, as well as the structure for earning Reward (&ldquo;Reward&rdquo;, individually, a &ldquo;Reward&rdquo;).</p>
<p>
	The Reward structure is subject to modification, cancellation, or limitation at the Company&#39;s discretion, with or without notice. The number of Points required to redeem any Reward may be substantially increased, any Reward may be withdrawn, and restrictions on any Reward or reward redemption (&ldquo;Reward Redemption&rdquo;) may be imposed at any time.</p>
<p>
	The Company and its Marketing Partners have the right to change, limit, modify or cancel the Reward Program Rules, Reward and reward levels at any time, with or without notice, even though such changes may affect the value of Points, or the ability to obtain certain Reward. The Company and its Marketing Partners may, among other things: a) increase or decrease the number of Points received for a purchase or required for a Reward; b) withdraw, limit, modify or cancel any Reward; c) add blackout dates, products or services available for any Reward; d) change program benefits, Marketing Partners, locations served by the Company or its Marketing Partners, conditions of participation, rules for earning, redeeming, retaining or forfeiting Points, or rules governing the use of Reward; e) change or cancel its Marketing Partner Reward. In accumulating Points, Members may not rely upon the continued availability of any Reward or Reward level, category or tier.</p>
<p>
	Additionally, the Company has the right to terminate the Reward Program by providing written notice to its Members 1 months in advance of Reward Program termination. In that event, the right to earn Points and redeem Reward may end one month after notification, no matter the extent of Member participation in the Reward Program. The Company may terminate the Reward Program earlier in whole or in part in any jurisdiction(s) if required to do so by applicable law.</p>
<p>
	After registering for the Reward Program, a Membership Account will be opened and is eligible to earn Reward Program Points.</p>
<p>
	A Membership Account may be closed at the Company&#39;s discretion if no Points are accrued during a 12-month period, or if there is no activity on the account for 12-months. All Points in the Membership Account will be forfeited at that time.</p>
<p>
	Reward Program Points earned through participating in the Reward Program may be subject to tax liability. Any tax liability, including disclosure, connected with the receipt or use of Reward Program Points or Reward is the sole responsibility of the Member.</p>
<p>
	In the case of fraud or abuse involving the Reward Program, Point credit, Reward use, the Company and its Marketing Partners have the right to take appropriate administrative and/or legal action, including but not limited to revocation/cancellation of any Reward and/or termination of Reward Program Membership, and all Points and certificates (&ldquo;Certificates&rdquo;) earned through the Reward Program may be forfeited and any relevant Membership Account(s) closed.</p>
<p>
	Membership in the Reward Program, including any Reward Certificates that may have been issued to a Member, may be revoked or suspended at the Company&#39;s sole discretion if a Member fails to pay any bills due to the Company.</p>
<p>
	The awarding of Points and the redemption of Reward Program Certificates are void where prohibited by law.</p>
<p>
	Members may be provided with the ability to use usernames, passwords, or other codes or devices to gain access to restricted portions (&quot;access codes&quot;) of the Company websites (the &quot;Web Sites&quot;). The content contained in such restricted areas is confidential to the Company, and is provided to the Member for his or her personal use only. The Company reserves the right to prohibit the use of such access codes by the Member or on his or her behalf by third parties where the Company determines that such use interferes with the Web Sites&#39; operation or results in commercial benefits for other entities to the Company&#39;s detriment.</p>
<p>
	The Company has the sole discretion to interpret and apply the Program Rules, and all questions or disputes regarding these Program Rules will be resolved by the Company in its sole discretion.</p>
<p>
	<strong>Conditions of Enrollment</strong></p>
<p>
	Only individuals are eligible for Reward Program membership, and each individual may maintain only one Membership Account. Corporations, groups and/or associated entities cannot enroll as Reward Program Members.</p>
<p>
	The information the Member provides to the Company when completing this application and redeeming Points is processed in the Company&rsquo;s computer systems both in the country where the information has been collected and in the Company&rsquo;s computer systems in the United States. Communication of relevant information is important to administering the Reward Program and providing the Member with the opportunity to maximize the benefits of Membership.</p>
<p>
	<strong>Account Activity</strong><br />
	&nbsp;<br />
	A Reward Program Member will be able to check their balance on the Company&#39;s website at anytime by logging-in and selecting Account Details.&nbsp; The Member shall be responsible for advising the Reward Program of any change of email address and neither the Company nor the Reward Program shall have any responsibility for misdirected or lost email or any consequences thereof.</p>
<p>
	The Member shall be responsible for ensuring that his or her Points are properly credited. If proper credit does not appear on the Member&#39;s Account Detail, the Member send a note of inquiry to <a href="mailto:info@atlantawineschool.com">info@atlantawineschool.com</a>&nbsp; Members should allow approximately two to three weeks for inquiry to be completed and any adjustments to be made on the Members account.&nbsp; Requests to add or modify Points must be received within six months of the time when Member claims the Points were either missing or erroneus.</p>
<p>
	<br />
	&nbsp;</p>
