/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * Pitney Bowes module customer CSS stylesheet
 *
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Michael Bugrov
 * @version    ee8fb4ea37d363887326bb281100a27746bc181e, v2 (xcart_4_7_4), 2015-10-12 09:49:37, main.css, mixon
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */

.pb-restricted {
  position: relative;
  float: left;
  margin: 2px 10px 0px 0px;
  padding: 0px;
}
